doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    title カナザワ映画祭2016　期待の新人監督結果発表
    link(rel='stylesheet', href='//yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css')
    link(href='./index.css', type='text/css', rel='stylesheet')
    meta(property='og:title', content='カナザワ映画祭2016　期待の新人監督結果発表')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/newhope/index.html')
    meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
    meta(property='og:description', content='カナザワ映画祭2016　期待の新人監督結果発表')
    meta(property='og:locale', content='ja_JP')
  body
    .wrapper
      header
        .pure-u-1-1.pure-u-sm-1-4.logo
          a(href='/')
            img(src='//www.eiganokai.com/images/logo_s.jpg', alt='かなざわ映画の会')
        .pure-u-1-1.pure-u-sm-3-4
          .links
            a(href='/') ホーム
            a(href='/about') 団体概要
            a(href='/event') イベント
            a(href='/about/supporter.html') サポーター募集
            a(href='//eiganokai.blog.fc2.com/') ブログ
            a(href='/about/info.html') お問合わせ
      article
        h1 カナザワ映画祭2016　期待の新人監督結果発表
        section
          h2 ★期待の新人監督賞　大野大輔監督『さいなら、BAD SAMURAI』
          img(src='//www.eiganokai.com/event/filmfes2016/images/sainara.jpeg')
        section
          h2 ★観客賞　岩切一空監督『花に嵐』
          img(src='./images/1.jpg')
        section
          h2 ★出演俳優賞　里々花『花に嵐』
          img(src='./images/2.jpg')
        section
          h2 ◎審査員による受賞講評
          div
            div(style='font-weight: bold;') 黒沢清監督
            div(style='font-weight: bold;') 期待の新人監督賞講評
          p 「今日初めて観させていただきました。どんな作品が選ばれているのか何も知らずに観たんですけども、物凄い分かりやすい傾向のある三本で僕にとっては選びやすかったです。
          p 三本ともまず、映画を撮ることとフィクションの間で葛藤しているということをテーマにした作品でフィクションの中に必ず女性が出てくるという映画でした。
          p 『狂える世界のためのレクイエム』は最初フィクションから始まるんですけど、途中からほぼ急激に映画そのものになっていって本当に最後は気持ちの良いくらいに映画を撮ることで終わっていました。
          p 『さいなら、BAD SAMURAI』は最初から映画を撮ることとフィクションの中に出てくる様々な女性の間でどう折り合いをつけていいか途方に暮れている主人公と作者そのものが一貫して描かれていました。
          p 『花に嵐』はまず映画を撮ることから始まるんですけども、実にスムーズに美女たちにいざなわれるように気持ちの良いフィクションの世界に観客を連れて行くバランスがとても良かったように思えます。
          p グランプリは、映画を撮ることとフィクションの折り合いを最後までうまくつけることができないという姿勢に一番切なさを感じた、『さいなら、BAD SAMURAI』に期待の新人監督賞を贈ります。」
          img(src='./images/3.jpg')
          p ※審査員全員一致で議論もなく『さいなら、BAD SAMURAI』に決まりました。
          div
            div(style='font-weight: bold;') ダンカンさん
            div(style='font-weight: bold;') 出演俳優賞講評
          p 「はじめまして、ダンカンです。都ホテルで、地下2階ということで、雰囲気としては今、話題になってる東京の豊洲の地下の空間みたいな感じですね（笑）
          p 我々の頃っていうのは自主映画を作る熱が高かったんですけども、そのころのことを思い浮かべると今回の作品を拝見して思ったことは、
          p 昔の自主映画っていうのはなんだったんだろうと思うくらいにグレードは上がってますね。
          p 技術的にも上がってますし、表現的にも昔のATGだとかその辺のとこまでいってんじゃないかなと思いました。
          p 俳優賞ということですが、『狂える世界のためのレクイエム』の阿部隼也さんは、なかなか良い演技をしたんですけども、プロの小宮孝泰さんが全部かっさらっていってしまいましてね、あれはちょっと起用するほうのキャスティングミスとは言いませんけども、良い演技が小宮さんによって薄められてしまいましたね。
          p それから、『さいなら、BAD SAMURAI』の大野さんは監督やりながら主演ですけど、イライラ感が良いですね。実際にああいう人がいたら、まあ実際にいるんですけどね、ご本人ですから（笑）
          p この人とは絶対に友達になりたくないっていうのが画面を通して本当にこの野郎っていうくらいに、あのイライラ感っていうのは、あれは演技では出せないもんですからね。普段からそういう方なんでしょう。もう何か皮膚の感じで常に湿ってるような感じのあのイライラがねえ、冬でもジトっと額に小さな粒の汗が浮き出てるような、そういう感じが画面からも感じられました。
          p そして、『花に嵐』の岩切一空監督。これがねえ、この方もねえ。良いお芝居をしてるっていうか、逆に自分でカメラを持ってるわけですから、カットバックしないわけですね、自分の顔は分からないわけですから。あの情けないような追い詰められた緊張感の声だけですからね。逆にあれが映像がないことによって、こっちの顔っていうのをお客さんに想像させて、すごく良い効果になってるんですよね。だから映らないことによって、あの映ってる以上のお芝居をしてるように感じさせるので岩切監督のお芝居は惹かれるものがありましたね。
          p そして、女性ですとね、里々花さんの良いところって我々の世界っていうのは、パっと写した時に、“画が持つ”っていうことを言うんですよね。その人が何もセリフをしゃべらなくても、単純に歩いてるだけ、覗きこんでるだけでも、“この人、画が持つね”っていう。ですから、本人が演技しなくても、すごく観てるほうがドンドンドンドン魅力的なんじゃないか、すごいオーラがあるんじゃないかと感じてしまう女優さんでした。
          p そういうことで、今挙げた人の中から最優秀俳優賞を発表させていただきます。カナザワ映画祭の出演俳優賞は『花に嵐』の里々花さんです。」
          div(style='width: 60%; margin: 0 auto;')
            img(src='./images/4.jpg')
        section
          h2 ◎受賞者からの言葉
          p(style='font-weight: bold;') 期待の新人監督賞『さいなら、BAD SAMURAI』大野大輔監督
          p 「期待の新人監督賞は『花に嵐』が絶対取ると思ってました。
          p やっぱり映画を作るにあたって、一番よかったと思うのは、こういう大きな劇場で上映してもらって、お客さんの反応を直に受け取るっていうのは、やっぱり映画監督として一番の幸せだと思います。
          p その瞬間が、今日の上映ですごく多く感じられて、とても幸せでした。
          p さらに黒沢清監督を始め、柳下さんやダンカンさんといった本当に大物すぎる審査員の方たちにも観ていただいて本当に恐縮の限りです。
          p 実は来月から新作を作る予定です。
          p 次は、『さいなら、BAD SAMURAI』とはガラリと作風を変えて、『アニーホール』みたいな映画にしようと思っています。
          p 新作もこうしてまたお披露目できるように頑張っていきたいと思います。
          p 今日はありがとうございました。」
          img(src='./images/5.jpg')
          p(style='font-weight: bold;') 観客賞『花に嵐』岩切一空監督
          p 「観ていただいた方に選んでいただいた賞ということで、本当に一番嬉しい賞かなと思います。
          p 最後のカナザワ映画祭でこういう賞をいただけて本当にありがとうございます。」
          div(style='width: 60%; margin: 0 auto;')
            img(src='./images/6.jpg')
          p(style='font-weight: bold;') 出演俳優賞『花に嵐』里々花
          p 「ありがとうございます。『花に嵐』から女優を始めまして、今一年経ったところなんですが、初めて賞をいただけて、とても嬉しいです。
          p 初めての賞が今年で終わってしまう最後のカナザワ映画祭ということで、何だか面白いんですが、本当にありがとうございます。」
          div(style='width: 60%; margin: 0 auto;')
            img(src='./images/7.jpg')
        section
          h2 ◎各審査員の全体講評
          p(style='font-weight: bold;') 柳下毅一郎さん
          p 「『花に嵐』の岩切監督はご自身の紹介文で、“映画製作に目覚めた瞬間、映画に祝福されている”と書いていました。
          p 一方で『さいなら、BAD SAMURAI』の大野監督は“映画に呪われている”と書いていました。
          p 呪いと祝福はとても同じことであって、要は映画の方からこっちに来ちゃったということなんです。
          p 呪いと祝福で考えると、やっぱり呪いの方が強い。祝福は冷めることがありますけど、呪いは一度受けたら一生ですから逃れられないことです。
          p それもあって、僕の印象としては『さいなら、BAD SAMURAI』の方が強いですね。
          p 『狂える世界のためのレクイエム』に関しては、“一人一殺”というからには本当にテロをやってほしいなと思います。
          p テロで何も変わらないのは事実ですが、しかしそこでテロをやるのが、映画なのではないかと思います。
          p そこはもう一歩踏み越えたほうが面白くできたんじゃないかなと。」
          img(src='./images/9.jpg')
          p(style='font-weight: bold;') ダンカンさん
          p 「確かに三作品とも、何箇所かおかしなとこがあるんじゃないかなという部分は確かにあったんですよ。
          p “この繋がりは？”とか、“あれ、この状況は？”っていうのはあったんですけど、だけどそれを声を強くして僕は言えないんですよ。
          p 何しろ師匠である北野武監督の『監督・ばんざい！』と『TAKESHIS'』という映画はもっと酷かったんですから（笑）
          p 繋がってんだか何だかもう分からない、だけどねえフランスでも賞をもらったりしたんですよ、色んなところで（笑）
          p ですから、そういうことは映画を作る上では全く気にせずに自分が楽しめることが一番大切なのではないかなと思ってます。
          p 呪いと言いますけど、映画の世界にこれから進むのかどうかは分かりませんけど、一度魅せられちゃうとね、本当に覚せい剤と同じですよ。
          p “人間やめますか、映画やめますか”の世界ですからね（笑）
          p だけど、自分の好きなことを続けていってほしいなと思います。
          p どうもありがとうございました。」
          p(style='font-weight: bold;') 黒沢清監督
          p 「全体の印象で今日とても強く感じたことがあります。
          p それは、“わあ、みんな青春だなあ”と（笑）
          p 僕などが大学生の頃や二十代の頃に、8mmフィルムで自主映画を撮っていた時代からは、先ほどダンカンさんも仰ってましたけど、格段に技術的な進歩、クオリティの向上が見られます。昔、撮っていた自主映画などお話にならないほどとても良くできている。
          p ですが、若い人はやっぱり青春を映画で描いちゃうんだなっていうのを感じて、とても初々しいです。そういう意味では昔と変わらないんだなと。
          p 映画って若い人にとって、いつの時代もどんなに技術が変わっても、何かこう本当に呪いか祝福かは分かりませんけど、魅せられてしまう、虜になってしまう何かなんだろうなというのは今日、本当に強く感じました。
          p そして、それが一番気持ちの良い印象に残っています。
          p 今回はこの三本を観させていただいてありがとうございました。」
          p(style='font-weight: bold;') 小野寺生哉代表
          p 「今回、募集作品が長編ばかり70作品ほどありまして、全て観ましたが、この『さいなら、BAD SAMURAI』、『花に嵐』、『狂える世界のためのレクイエム』の三作品は迷いなく“これだ！”と選んだ作品でしたので三作品とも素晴らしい作品だと思います。
          p この会場は来年壊されますが、皆さんの作品で最後のカナザワ映画祭を飾っていただいて、どうもありがとうございます。」
          img(src='./images/8.jpg')
      footer
        p Copyright &copy; 2007-2016, Kanazawa-Eiga-no-kai All rights reserved.
