extends layout/index

block title
  title Access - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Access - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #accessPage
    h1 Access
    iframe.pure-u-1-1(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1602.0097480975583!2d136.649993!3d36.577748!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8336a3d276487%3A0xcecf5ec97bc972e2!2z5pel5pysLCDjgJI5MjAtMDg1MiDnn7Plt53nnIzph5HmsqLluILmraToirHnlLrvvJbiiJLvvJHvvJA!5e0!3m2!1sja!2sus!4v1438091753220', height='300', frameborder='0', style='border:0', allowfullscreen='')
    .pure-u-1-1
      .content
        p.center
          a.dottedAnchor(href='https://goo.gl/maps/3Y1SI', target='_blank') Show large map
        .links
          p
            a.dottedAnchor(href='http://www.miyakohotels.ne.jp/kanazawa/banquet/place/seminar_hall/index.html', target='_blank') Kanazawa Miyako Hotel B2F Seminar Hall (formerly Roxy Theatre)
            span Konohanamachi 6-10, Kanazawa, Ishikawa
    h1 Lodging
    .pure-u-1-1
      .content
        .links
          a.dottedAnchor(href='https://www.airbnb.jp/', target='_blank') Airbnb
        .links
          a.dottedAnchor(href='http://www.jalan.net/ikisaki/map/ishikawa/index.html', target='_blank') Jalan
        .links
          a.dottedAnchor(href='http://www.nta.co.jp/', target='_blank') Nippon Travel Agency
    h1 Kanazawa recommended map
    .pure-u-1
      .content.map
        a.dottedAnchor(href='./images/map.jpeg', target='_blank')
          img.max(src='./images/map.jpeg')
      .content
        .links
          p.storename ①
            a.dottedAnchor(href='http://magnolia-kz.com/', target='_blank') magnolia KZ
          p.storedesc お酒も豊富で、チーズと燻製料理が自慢の多国籍ダイニングバー。パーティやイベントにも。18:00～27:00 日休 ☎ 076-260-7045 此花町9-17
          p.storename ②
            a.dottedAnchor(href='http://www.collabon.com/', target='_blank') collabon
          p.storedesc 二三味珈琲が飲めるギャラリー喫茶。本や雑貨、器やお菓子など。ライブや展示も。18:00～27:00 日休 ☎ 076-260-7045 此花町9-17
          p.storename ③ Curio Espresso and Vintage Design
          p.storedesc 本場仕込みのバリスタによるシアトルコーヒーの店。ランチや軽食もあります 9:00～18:00（日は10:00～）火休 ☎ 076-231-5543 安江町1-13
          p.storename ④ 
            a.dottedAnchor(href='http://www.hiramipan.com/', target='_blank') ひらみぱん
          p.storedesc 自家製パンと自然派ワインのビストロ。モーニングから、ランチ、カフェ、ディナーまで。朝8:00～夜21:30LO ※途中休憩あり 月休 ☎ 076-221-7831 長町1-6-11
          p.storename ⑤
            a.dottedAnchor(href='http://www.oyoyoshorin.jp/%E4%BC%9A%E5%A0%B4/%E3%82%AA%E3%83%A8%E3%83%A8%E6%9B%B8%E6%9E%97%E3%80%80%E3%81%9B%E3%81%9B%E3%82%89%E3%81%8E%E9%80%9A%E3%82%8A%E5%BA%97/', target='_blank') オヨヨ書林 せせらぎ通り店
          p.storedesc 元鉄工所の古書店。文芸・思想から絵本まで、充実の品揃え。古い映画雑誌も多数。11:00～19:00 月休 ☎ 076-255-0619 長町1-6-11
          p.storename ⑥
            a.dottedAnchor(href='http://mars2005.blog81.fc2.com/', target='_blank') 欧風食堂 ル マルス
          p.storedesc 路地裏のビストロ。アルザス風シュークルートなど。ランチは土日のみ。水休 12:00～13:30 LO、18:00～22:30LO ☎ 076-262-5343 香林坊2-12-34
          p.storename ⑦ ひげの店
          p.storedesc 焼き鳥横丁の中にある髭さんのワインバー。「美味しいワイン飲まんかいね！」19:00〜27:00 日祝休 ☎ 076-261-9989 木倉町6-4
          p.storename ⑧ スペイン料理アロス
          p.storedesc 塩ダラのピルピルが絶品。パエリヤやワイン、チーズに生ハムも人気。立ち飲みもあり気軽に寄れる店。 17:30～27:00 水休 ☎ 076-222-7105 木倉町1-7
          p.storename ⑨
            a.dottedAnchor(href='http://www.shirasagi-art.net/', target='_blank') shirasagi/白鷺美術
          p.storedesc お酒、音楽、映画、作品展示。時々ライブ。２階はギャラリーで、作品展示も行われる。20:00〜26:00 月休 ☎ 076-231-4550 柿木畠4-16
          p.storename ⑩ バーゴールデンフィッシュ
          p.storedesc もっきりやのビルの3Fにあるバー。 メニューは無いのでご自由に!! 20:00〜深夜 月休 ☎ 076-263-2489 柿木畠8-6
          p.storename ⑪ 葡萄夜
          p.storedesc 竪町路地裏のスナック。時々イベントも開催。 19:00〜24:00 日祝休 ☎ 076-263-0106 竪町83-2
          p.storename ⑫
            a.dottedAnchor(href='http://www.skanda-sffs.com/', target='_blank') SKANDA
          p.storedesc ファッション、音楽、アート、バイクなど。金沢のストリートシーンを牽引するセレクトショップ。11:00〜20:00 無休 ☎ 076-222-5677 堅町12
          p.storename ⑬
            a.dottedAnchor(href='http://e-kac.com/k3/', target='_blank') Otaku Bar K3
          p.storedesc アニメ・マンガ・ゲーム好きがアニソンを聞きながらお酒をたしなむバー。20:00～01:00 日月火休 ☎ 076-254-1011 新竪町3-65
          p.storename ⑭
            a.dottedAnchor(href='http://www.oyoyoshorin.jp/', target='_blank') オヨヨ書林 シンタテマチ店
          p.storedesc アート、デザイン、写真集、サブカルチャーなど。映画関係の古本も多い。買取も可能。11:00～19:00 水休 ☎ 076-261-8339 新竪町3-21
          p.storename ⑮
            a.dottedAnchor(href='http://www.antiquevermeer.info/', target='_blank') アンティーク  フェルメール
          p.storedesc イギリス18、19世紀のアンティーク・グラス、小物、アクセサリーを扱う。11:30～19:30 水休 ☎ 076-224-0765 新竪町3-102
          p.storename ⑯ ビストロ・ユイガ
          p.storedesc 趣ある町家で自然派ワインと西洋料理が 楽しめる。ランチは火〜金のみ。12:00〜13:30LO、18:00〜21:30LO 月・第１火休 ☎ 076-261-6122 水溜町4-1
          p.storename ⑰ 旬菜焼はざま
          p.storedesc 和洋折衷の懐石の店。ランチは日祝休。定番のステーキ丼が人気。夜はコースのみで要予約。11:30〜13:30、18:00〜22:00 第１日休 ☎ 076-224-5088 下本多町6-6-1-2
          p.storename ⑱
            a.dottedAnchor(href='http://www.jo-house.com/', target='_blank') JO-HOUSE
          p.storedesc コミック雑誌なんか捨て、映画祭へ行こう！ ジョーでカレーを食べよう！ヨロシク！ Rock’n Roll！ 11:30〜14:30LO、17:30〜23:30 日休／祝は夜のみ ☎ 076-222-5960 石引2-7-10
          p.storename ⑲
            a.dottedAnchor(href='http://www.ishipub.com/', target='_blank') 石引パブリック
          p.storedesc アートやカルチャー系の本屋＋リソグラフ印刷＋カフェの店。 10:00～19:00 日月休 ☎ 076-256-5692 石引2-8-2
