extends layout/index

block title
  title アクセス - カナザワ映画祭2016｜かなざわ映画の会

block body
  #accessPage
    h1 アクセス
    iframe.pure-u-1-1(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1602.0097480975583!2d136.649993!3d36.577748!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8336a3d276487%3A0xcecf5ec97bc972e2!2z5pel5pysLCDjgJI5MjAtMDg1MiDnn7Plt53nnIzph5HmsqLluILmraToirHnlLrvvJbiiJLvvJHvvJA!5e0!3m2!1sja!2sus!4v1438091753220', height='300', frameborder='0', style='border:0', allowfullscreen='')
    .pure-u-1-1
      .content
        p.center
          a.dottedAnchor(href='https://goo.gl/maps/3Y1SI', target='_blank') 大きな地図で見る
        .links
          p
            a.dottedAnchor(href='http://www.miyakohotels.ne.jp/kanazawa/banquet/place/seminar_hall/index.html', target='_blank') 金沢都ホテル セミナーホール（旧ロキシー劇場）
            span 石川県金沢市此花町6-10 B2F
    h1 宿泊
    .pure-u-1-1
      .content
        .links
          p 連休中は金沢市内の宿泊施設の混雑が予想されます。
          p お早めにご予約下さい。
        .links
          a.dottedAnchor(href='https://www.airbnb.jp/', target='_blank') Airbnb
    h1 金沢おすすめMAP
    .pure-u-1
      .content.map
        a.dottedAnchor(href='./images/map.png', target='_blank')
          img.max(src='./images/map.png')
