extends layout/index

block title
  title Access - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Access - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #accessPage
    h1 Access
    iframe.pure-u-1-1(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1602.0097480975583!2d136.649993!3d36.577748!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8336a3d276487%3A0xcecf5ec97bc972e2!2z5pel5pysLCDjgJI5MjAtMDg1MiDnn7Plt53nnIzph5HmsqLluILmraToirHnlLrvvJbiiJLvvJHvvJA!5e0!3m2!1sja!2sus!4v1438091753220', height='300', frameborder='0', style='border:0', allowfullscreen='')
    .pure-u-1-1
      .content
        p.center
          a.dottedAnchor(href='https://goo.gl/maps/3Y1SI', target='_blank') Show large map
        .links
          p
            a.dottedAnchor(href='http://www.miyakohotels.ne.jp/kanazawa/banquet/place/seminar_hall/index.html', target='_blank') Kanazawa Miyako Hotel B2F Seminar Hall (formerly Roxy Theatre)
            span Konohanamachi 6-10, Kanazawa, Ishikawa
    h1 Lodging
    .pure-u-1-1
      .content
        .links
          a.dottedAnchor(href='https://www.airbnb.jp/', target='_blank') Airbnb
        .links
          a.dottedAnchor(href='http://www.jalan.net/ikisaki/map/ishikawa/index.html', target='_blank') Jalan
        .links
          a.dottedAnchor(href='http://www.nta.co.jp/', target='_blank') Nippon Travel Agency
