extends layout/index

block title
  title カナザワ映画祭オールタイム・ベスト - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='カナザワ映画祭オールタイム・ベスト - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 カナザワ映画祭オールタイム・ベスト
    .aori
      p おかげさまでカナザワ映画祭は今年で10周年となります。これもひとえにこれまでカナザワ映画祭を支えてくれた皆さんのお陰です。今回、10周年にあたってこれまでのカナザワ映画祭で上映した作品や開催したイベントで「また観たい」というものや、「あの時は観れなかったけど是非観たい」というものを皆さんに投票していただきました。投票結果が上位のものをリバイバルします。
    h1#bigslideshow(style='font-size: 30px;') クリスピン・グローヴァーのビッグ・スライドショウ
    .film
      .capture
        img(src='./images/crispin.jpeg')
      .desc
        p あのカナザワ映画祭2008のビッグ・スライドショウが金沢に帰ってくる！！これまで誰も見たことのないイメージの連続、この機会を見逃すな！！
      .desc
        p(style='font-size: 22px;') 9/24(土) 21:30〜
        p(style='margin: 0;') ビッグ・スライドショウ(60min)
        p(style='margin: 0;') 「It is Fine! EVERYTHING IS FINE.」上映
        p(style='margin: 0;') Q&amp;A
        p(style='margin: 0;') ブックサイン会開催
      .desc
        p(style='font-size: 22px;') 9/25(日) 18:30〜
        p(style='margin: 0;') ビッグ・スライドショウ(60min)
        p(style='margin: 0;') 「What is it?」上映
        p(style='margin: 0;') Q&amp;A
        p(style='margin: 0;') ブックサイン会開催
      .bio
        p クリスピン・グローヴァー
        p 1964年ニューヨーク生まれ。芸能一家で、幼いころからTV、映画などに出演。『13日の金曜日 完結編』『バック･トゥ･ザ･フューチャー』『ギルバート･グレイプ』『デッドマン』『チャーリーズ･エンジェル』『ベオウルフ』『アリス・イン・ワンダーランド』など多くのハリウッド作品に出演のほか、作家、ミュージシャン、そして映画監督として、特異な個性を発揮。
    .film#fine
      h2
        .ja It is Fine! EVERYTHING IS FINE.
      .capture
        img(src='./images/fine.jpeg')
      .info
        p 2007年/アメリカ/74min
        p 監督：クリスピン・グローヴァー、デヴィッド・ブラザーズ
        p 出演：スティーブン・C・スチュワート、マーギット・カルステンセン
      .desc
        p “IT”トリロジーの第2作。ロングヘアーの女にフェティッシュな欲望を抱く障害者が犯す犯罪とは？幻想のフィルムノワールで精神と肉体のハンディキャップを描く。主演のスティーブン・C・スチュワート自身の半自伝的作品。数多くのファスビンダー作品に出演したＭ・カルステンセン、そしてグローヴァーの両親も出演している。
    .film#what
      h2
        .ja What is it?
      .capture
        img(src='./images/what.jpeg')
      .info
        p 2005年/アメリカ/72min
        p 監督・脚本・出演：クリスピン・グローヴァー
        p 出演：マイケル・ブリービス、リッキー・ウィットマン
      .desc
        p 世間一般の主流ではない視点から世界を見つめるクリスピン・グローヴァーの“IT”トリロジー3部作の第1作。ダウン症の人々とカタツムリのダークなファンタジー冒険劇。グローヴァー自身も全てを裏で操る“神”の役で出演。ハリウッド1のエキセントリック俳優といわれるグローヴァーの湧き溢れる妄想が炸裂した過剰な監督デビュー作。
    h1#pink(style='font-size: 30px;') 本宮映画劇場田村修司館主の語りとピンク映画いい場面コレクション
    .film
      .capture
        img(src='./images/motomiya.jpeg')
        .credits
          p &copy;都築響一
      .desc
        p(style='font-size: 22px;') 9/19(日) 12:05〜
      .desc
        p 約50年前のピンク映画のいい場面を田村館主が編集したコレクションの上映（40分間）とトーク（40分間）。本宮映画劇場で発掘された幻のピンク映画『好色日本性豪夜話』を上映。
    .film#collection
      h2
        .ja ピンク映画いい場面コレクション2016
      .info
        p 2016年/日本/40min
      .desc
        p 約50年前の独立系プロダクションによって作られた、ピンク映画のいい場面を繋いだコレクション。伝説的な作品を残した関孝二監督のあの映画など幻のフィルムからのいい場面集。
    .film#yawa
      h2
        .ja 好色日本性豪夜話
      .capture
        img(src='./images/yawa3.jpeg')
      .info
        p 1971年/日本
        p 監督：頭師巌
        p 出演：林美樹、祝真理、椙山拳一郎、杉夕子
      .desc
        p アニメ史上もっとも謎に包まれていると言われる幻の映画。今回45年ぶりに上映。
    h1#rhs(style='font-size: 30px;') LIP'Sプレゼンツパフォーマンス上映 ロッキー・ホラー・ショー
    .film
      .desc
        p(style='font-size: 22px;') 9/23(金) 21:00〜
        p カナザワ映画祭史上最多動員を記録した前回上映から早3年。都ホールが再びバラ色に染まる時がやってきた！ 今回もロッキー・ホラー・ショーファンクラブLIP’Sが初体験の皆さんをグイグイ優しくリードします！
        p
          | LIP'SのFBページ
          a.dottedAnchor(href='https://www.facebook.com/rhps.lips') www.facebook.com/rhps.lips
    .film
      h2
        .ja ロッキー・ホラー・ショー
        .en THE ROCKY HORROR PICTURE SHOW
      .capture
        img(src='./images/rhs.jpeg')
        .credits
          p &copy;HOLLYWOOD CLASSICS, ©20TH CENTURY FOX 
      .info
        p 1975年/イギリス/100min
        p 監督･脚本：ジム･シャーマン
        p 出演：ティム･カリー、スーザン･サランドン、ミート･ローフ、リチャード･オブライエン
      .desc
        p カルト映画のクラシック。観客のこの映画に対する支持は絶大で、常に世界中のどこかで上映されているほどだ。現在までの興行収入は製作費の軽く100倍を稼ぎ出している。ある古城を訪ねたカップルが巻き込まれる奇怪な体験をロック･ミュージカルとして描いているが、この作品はただ見ても仕方がない、参加して体験せよ！
    .film#water
      h2
        div
          .ja ウォーターパワー アブノーマルスペシャル:エネマ版
        div
          .en(style='margin-left: 0;') Water Power:Enema Cut Version
      .capture
        img(src='./images/water.jpeg')
      .info
        p 1976年/アメリカ/66min
        p 監督：ショーン・コステロ
        p 出演：ジェイミー･ギリス、Ｃ･Ｊ･ラング
      .desc
        p 「浣腸には重大な責任が伴う。売女どもを浄化してやる」義憤に駆られた無職男が腐った街ニューヨークを浄化すべく、女たちを襲撃し次々と浣腸する。カナザワ映画祭オールタイム・ベスト第1位作品（同率1位に「ビッグ・スライドショウ」）。また日本公開時には蓮實重彦元東大総長もその年の外国映画ベスト10の中に入れたほどの傑作だ。2012年に当映画祭で上映されたバージョンよりも6分間長いエネマ版を今回特別上映する。
    .film#thunder
      h2
        .ja 狂い咲きサンダーロード
      .capture
        img(src='./images/thunder.jpeg')
        .credits
          p &copy;狂映舎=ダイナマイトプロ
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1980年/日本/98min
        p 監督･脚本：石井聰亙
        p 脚本：秋田光彦、平柳益実
        p 撮影：笠松則通
        p 出演：山田辰夫、中島陽典、南条弘二、小林稔侍、飯島洋一
      .desc
        p 暴走族「魔墓呂死」の特攻隊長・ジンは、「市民に愛される暴走族」を目指す同輩や自分たちを取り込もうとするスーパー右翼に「やってやろーじゃねえよ！」と反抗する。デジタル化が進む本作を最後（？）のフィルム爆音上映！
    .film#628
      h2
        .ja 炎628
        .en Idi i smotri
      .capture
        img(src='./images/628.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1985年/ソ連/143min
        p 監督･脚本：エレム･クリモフ
        p 原作･脚本：アレシ･アダモーヴィチ
        p 出演：アリョーシャ･クラフチェンコ、オリガ･ミローノワ
      .desc
        p ナチス・ドイツに侵略されたロシアを舞台に、パルチザンの少年の目を通して、ナチスによる暴虐を強烈に描く。神経をかきむしる効果音や不協和音が爆音上映で増幅される。独ソ戦の非情さをロシア側から描いた本作には、当時実際に家を焼かれた人々がエキストラとして出演している。
    .film#caramba
      h2
        .ja カランバ
        .en Dolce e selvaggio
      .capture
        img(src='./images/caramba.jpeg')
      .info
        p 1983年/イタリア/93min
        p 監督:マリオ･モッラ、アントニオ･クリマティ
      .desc
        p 新聞やテレビでは報じられない残酷な場面のみで構成された驚愕のドキュメンタリー。ジープにゲリラの両腕をくくりつけ、腕を引きちぎる処刑を記録した中東での映像はあまりにショッキングなため、ヨーロッパ各国で上映禁止となった。その他にはヒマラヤ奥地での鳥葬の儀式、プエルトリコでの高層ビルの間を綱渡り中失敗し地面に叩きつけられる瞬間などを記録。カナザワ映画祭オールタイム・ベスト第八位作品！
    .film#happyisland
      h2
        .ja ハッピーアイランド
      .capture
        img(src='./images/happyisland.jpeg')
      .info
        p 2013年/日本/77min
        p 監督･脚本:清川隆
        p 出演:今西由紀夫、亀井史興、川島拓
      .desc
        p 日本の辺境に潜入した、雑誌の取材班は思いもよらない恐怖に遭遇する。本職が医師である清川監督ならではの医療器具を使った拷問場面は日本の商業映画では不可能な容赦なさ。カナザワ映画祭2013「期待の新人監督賞」作品を待望のアンコール上映！！
    .film#akira
      h2
        .ja AKIRA
      .capture
        img(src='./images/akira.jpeg')
        .credits
          p &copy;1988マッシュルーム／アキラ製作委員会
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1988年/日本/124min
        p 原作・監督・脚本：大友克洋
        p 音楽：芸能山城組
      .desc
        p 2020年の東京オリンピックを目前にしたネオ東京を舞台に、暴走族の抗争、暴徒化するデモ、軍の暴走を描いた破壊のスペクタクル。製作から既に30年近くが経ち東京オリンピックまであと数年となった今こそ観るべき映画。爆音上映で浴びせる！
    .film#salo
      h2
        .ja ソドムの市
        .en Salò o le 120 giornate di Sodoma
      .capture
        img(src='./images/salo.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1975年/イタリア/116min
        p 監督･脚本：ピエル･パオロ･パゾリーニ
        p 原作：マルキ･ド･サド
        p 音楽：エンニオ･モリコーネ
        p 出演：パオロ･ボナチェッリ、ジョルジオ･カタルディ
      .desc
        p ナチ占領下イタリア、ファシストの館で繰り広げられる変態行為の狂宴を執拗に描く。監督のパゾリーニは出演者の少年に惨殺され、本作が遺作となった。
    .film#will
      h2
        .ja 意志の勝利
        .en Triumph des Willens
      .capture
        img(src='./images/will.jpeg')
      .info
        p 1935年/ドイツ/111min
        p 監督：レニ･リーフェンシュタール
        p 出演：アドルフ･ヒトラー、ルドルフ･ヘス、ヨゼフ･ゲッペルス、ハインリヒ･ヒムラ－
      .desc
        p ヨーロッパを破滅の危機に追い込んだナチス政権によるドイツ第三帝国のプロパガンダ映画。その悪魔的な魅力は当時の民衆を熱狂させ、ナチスの勢いを加速させた。
    .film#theylive
      h2
        .ja ゼイリブ
        .en They Live
      .capture
        img(src='./images/theylive.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1988年/アメリカ/93min
        p 監督･音楽：ジョン･カーペンター
        p 出演：ロディ･パイパー、キース･デヴィッド
      .desc
        p 世界は奴らに支配されている。社会の中枢を牛耳り一般大衆を手なずけ搾取する奴ら。その正体を暴くサングラスを手に入れたホームレスが革命を起こす。「奴らを全員殺せ！」この作品で描かれたことはすでに今、現実のものとなっている。
