extends layout/index

block title
  title Avant-garde erotic cinemas in the late afternoon - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Avant-garde erotic cinemas in the late afternoon - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Avant-garde erotic cinemas in the late afternoon
    .aori
      p Cinematic experience like a wet-dream in a weekday afternoon
    .film#vampyros
      h2
        .ja Vampyros Lesbos
      .capture
        img(src='./images/vampyros.jpeg')
      .info
        p 1971/West Germany, Spain/89min
        p Director, writer, music:  Jesus Franco
        p Cast: Soledad Miranda, Ewa Stromberg
      .desc
        p The film depicts the ennui passion between a beautiful elite secretary and a female vampire happening in Istanbul. Forget about the story and just give yourself to their beautiful bodies in the splendid location of the Mediterranean Sea and the mood music. The best film to watch in the late afternoon.
    .film#corrida
      h2
        .ja L'empire des sens
      .capture
        img(src='./images/corrida.jpeg')
        .credits
          p &copy;Oshima Nagisa Production
      .info
        p 1976/Japan, France/109min
        p Director,writer: Nagisa Oshima
        p Director of photography; Hideo Ito
        p Cast: Tatsuya Fuji, Eiko Matsuda, Aoi Nakajima, Meika Seri, Taiji Tonoyama
      .desc
        p There has never been a man and a woman ever who loved so intensely. Based on the true story of "Abe Sada", who killed her lover and cut and carried his genital organ. The great master Nagisa Oshima cinematized the hymne a l'amour. The scene of the hardcore sex wasn't able to be developed in Japan, so it was printed in France and imported to Japan.
    .film#eden
      h2
        .ja L'éden et après
      .capture
        img(src='./images/eden.jpeg')
      .info
        p 1970/France, Czechoslovakia, Tunisia/98min
        p Director, writer: Alain Robbe-Grillet
        p Cast: Catherine Jourdan, Pierre Zimmer
      .desc
        p French students join a psychological sex experiment by a sketchy Dutch man and stray into a world of delusion and hallucination. Cafe, factory in night, blue sky, set in a village of Tunisia, you see beautiful nude actresses. Directed by Nouveau roman writer Alain Robbe-Grillet.
    .film#rouges
      h2
        .ja Les lèvres rouges
      .capture
        img(src='./images/rouges.jpeg')
      .info
        p 1971/Belgium, France, West Germany/100min
        p Director, writer: Harry Kumel
        p Cast: Delphine Seyrig
      .desc
        p Under the gray sky of Belgium, a couple visits a fortress-like hotel in a wetland.  After seeing a secret of the mysterious landlady and her maid, they step into a dark world. A cinematic experience that will cause you to forget time, with great location and beautiful actresses. 
    .film#eyes
      h2
        .ja Eyes Wide Shut
      .capture
        img(src='./images/eyes.jpeg')
        .credits
          p &copy;1999 Warner Bros. Entertainment Inc. All rights reserved.
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1999/USA/159min
        p Director, writer: Stanley Kubrick
        p Cast: Tom Cruise, Nicole Kidman, Leelee Sobieski
      .desc
        p A physician Tom Cruise becomes obsessed with sexual delusion after his wife Nicole Kidman confesses a secret to him. Tom wanders the town in the night and joins the sexual orgy of a secret society. What is the meaning of life he finds there? Kubrick's last film.
    .film#lip
      h2
        .ja Lèvres de sang
      .capture
        img(src='./images/lip.jpeg')
      .info
        p 1975/France/87min
        p Director, writer: Jean Rollin
        p Cast: Jean-Loup Philippe, Annie Briand
      .desc
        p One night a man witnesses a woman he has seen before in an unforgettable childhood dream. And he wanders chasing her through the town. Female vampires at the cemetery, aquarium at night, suburban theater, ruins of an old castle. A cinematic experience like a dream you have seen once.
    .film#water
      h2
        .ja Water Power:Enema Cut Version
      .capture
        img(src='./images/water.jpeg')
      .info
        p 1976/USA/66min
        p Director: Shaun Costello
        p Cast: Jamie Gillis, C.J. Laing
      .desc
        p "Giving an enema is important responsibility. I'll clean those tramps". An unemployed man filled with indignation attacks girls and give them enemas to purify the filthy New York City. The first place winner of the All Time Best Films of Kanazawa Film Festival (tied with "Big Slide Show"). Shigehiko Hasumi, a former president of University of Tokyo chose this film as one of the best 10 foreign films of the year when released. This year a 6 min-longer version called "Enema Cut Version" will be shown exclusively.
