extends layout/index

block title
  title 爆音上映とは - カナザワ映画祭2016｜かなざわ映画の会

block body
  #bakuonPage
    .center
      img(src='./images/anobakuon.jpeg')
    .content
      p 通常の映画用の音響セッティングではなく、 音楽ライヴ用の 音響セッティングをフルに使い、 ボリュームも限界まで上げ 大音響の中で映画を見・聴く試みです。 一般劇場上映では 聴くことの出来ない迫力と、 その爆音によって視覚までもが 変容して映画そのものも違って見えるトリップ感覚、 そしてま た、大音響でなければ聴こえてこない幽かな音を聴くという、大胆かつ繊細な上映となります。
      p text by 樋口泰人（映画評論家／爆音映画祭プロデューサー）
