extends layout/index

block title
  title クリスピン・グローヴァーのビッグ・スライドショウ - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    h1 クリスピン・グローヴァーのビッグ・スライドショウ
    .aori
      p あのカナザワ映画祭2008のビッグ・スライドショウが金沢に帰ってくる！！これまで誰も見たことのないイメージの連続、この機会を見逃すな！！
    .film#fine
      h2
        .ja It Is Fine! Everything Is Fine.
      .capture
        img(src='./images/fine.jpeg')
      .info
        p 2007年/アメリカ/74min
        p 監督：クリスピン・グローヴァー、デヴィッド・ブラザーズ
        p 出演：スティーブン・C・スチュワート、マーギット・カルステンセン
      .desc
        p “IT”トリロジーの第2作。ロングヘアーの女にフェティッシュな欲望を抱く障害者が犯す犯罪とは？幻想のフィルムノワールで精神と肉体のハンディキャップを描く。主演のスティーブン・C・スチュワート自身の半自伝的作品。数多くのファスビンダー作品に出演したＭ・カルステンセン、そしてグローヴァーの両親も出演している。
      .info
        p 9/24(土) 21:30〜
        p Q&amp;A、サイン会開催
    .film#what
      h2
        .ja What is it?
      .capture
        img(src='./images/what.jpeg')
      .info
        p 2005年/アメリカ/72min
        p 監督・脚本・出演：クリスピン・グローヴァー
        p 出演：マイケル・ブリービス、リッキー・ウィットマン
      .desc
        p 世間一般の主流ではない視点から世界を見つめるクリスピン・グローヴァーの“IT”トリロジー3部作の第1作。ダウン症の人々とカタツムリのダークなファンタジー冒険劇。グローヴァー自身も全てを裏で操る“神”の役で出演。ハリウッド1のエキセントリック俳優といわれるグローヴァーの湧き溢れる妄想が炸裂した過剰な監督デビュー作。
      .info
        p 9/25(日) 18:30〜
        p Q&amp;A、サイン会開催
    .film#talk
      h2
        .ja ゲスト
      .capture
        img(src='./images/crispin.jpeg')
      .bio
        p クリスピン・グローヴァー
        p 1964年ニューヨーク生まれ。芸能一家で、幼いころからTV、映画などに出演。『13日の金曜日 完結編』『バック･トゥ･ザ･フューチャー』『ギルバート･グレイプ』『デッドマン』『チャーリーズ･エンジェル』『ベオウルフ』『アリス・イン・ワンダーランド』など多くのハリウッド作品に出演のほか、作家、ミュージシャン、そして映画監督として、特異な個性を発揮。
