extends layout/index

block title
  title クリスピン・グローヴァーのビッグ・スライドショウ - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='クリスピン・グローヴァーのビッグ・スライドショウ - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1(style='font-size: 1.9em;') クリスピン・グローヴァーのビッグ・スライドショウ
    img.max(src='./images/bigslideshow.jpeg')
    .aori
      p あのカナザワ映画祭2008のビッグ･スライドショウが金沢に帰ってくる！！
      p これまで誰も見たことのないイメージの連続、この機会を見逃すな！
    .film
      .capture
        img(src='./images/crispin.jpeg')
      .desc
        p ハリウッド･メジャー大作で活躍する俳優クリスピン･グローヴァー。彼は、ライフワーク「ビッグ･スライドショウ」のため、自らフィルムを抱えて全米各地を興行。そして、今回ついに、ハリウッドから金沢に帰って来る！ ショウは、グローヴァー本人によるスライドショウに始まり、映画の上映、Q&amp;Aと続き、サイン会で幕となる。
      .desc
        p(style='font-size: 22px;') 9/24(土) 21:30〜
        p(style='margin: 0;') ビッグ・スライドショウ(60min)
        p(style='margin: 0;') 「It is Fine! EVERYTHING IS FINE.」上映
        p(style='margin: 0;') Q&amp;A
        p(style='margin: 0;') ブックサイン会開催
      .desc
        p(style='font-size: 22px;') 9/25(日) 18:30〜
        p(style='margin: 0;') ビッグ・スライドショウ(60min)
        p(style='margin: 0;') 「What is it?」上映
        p(style='margin: 0;') Q&amp;A
        p(style='margin: 0;') ブックサイン会開催
    h1 上映作品
    .film#fine
      h2
        .ja It is Fine! EVERYTHING IS FINE.
      .capture
        img(src='./images/fine.jpeg')
      .info
        p 2007年/アメリカ/74min
        p 監督：クリスピン・グローヴァー、デヴィッド・ブラザーズ
        p 出演：スティーブン・C・スチュワート、マーギット・カルステンセン
      .desc
        p “IT”トリロジーの第2作。ロングヘアーの女にフェティッシュな欲望を抱く障害者が犯す犯罪とは？幻想のフィルムノワールで精神と肉体のハンディキャップを描く。主演のスティーブン・C・スチュワート自身の半自伝的作品。数多くのファスビンダー作品に出演したＭ・カルステンセン、そしてグローヴァーの両親も出演している。
    .film#what
      h2
        .ja What is it?
      .capture
        img(src='./images/what.jpeg')
      .info
        p 2005年/アメリカ/72min
        p 監督・脚本・出演：クリスピン・グローヴァー
        p 出演：マイケル・ブリービス、リッキー・ウィットマン
      .desc
        p 世間一般の主流ではない視点から世界を見つめるクリスピン・グローヴァーの“IT”トリロジー3部作の第1作。ダウン症の人々とカタツムリのダークなファンタジー冒険劇。グローヴァー自身も全てを裏で操る“神”の役で出演。ハリウッド1のエキセントリック俳優といわれるグローヴァーの湧き溢れる妄想が炸裂した過剰な監督デビュー作。
    .film#talk
      h2
        .ja ゲスト
      .pure-u-1-2
        .bio
          p クリスピン･グローヴァー　Crispin Hellion Glover
          p 1964年ニューヨーク生まれ。芸能一家で、幼いころからTV、映画などに出演。84年『13日の金曜日･完結編』、85年『バック･トゥ･ザ･フューチャー』、90年『ワイルド･アット･ハート』、93年『ギルバート･グレイプ』、95年『デッドマン』、00～03年『チャーリーズ･エンジェル』シリーズ、07年『ベオウルフ－呪われし勇者－』など多くのハリウッド作品に出演するかたわら、作家、ミュージシャン、そして映画監督として、特異な個性を発揮している。(著作、CDの販売を当日会場で行います。)
      .pure-u-1-2
        .bio
          p 柳下毅一郎(通訳、字幕制作）
          p 1963年大阪生まれ。東京大学工学部卒業。英米文学翻訳家・映画評論家・殺人研究家。訳書にＪ・Ｇ・バラード「クラッシュ」、R・A・ラファティ「第四の館」、アラン・ムーア／J・H・ウィリアムズIII「プロメテア 1」など。著書に「新世紀読書大全」「皆殺し映画通信」シリーズなど。編書に「女優 林由美香」がある。
