extends layout/index

block title
  title Crispin Glover's Big slideshow - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Crispin Glover\'s Big slideshow - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1(style='font-size: 1.9em;') Crispin Glover's Big slideshow
    img.max(src='./images/bigslideshow.jpeg')
    .aori
      p Big slide show of that Kanazawa Film Festival 2008 has come back to Kanazawa!!
      p Continuous Image so far never seen anyone, Do not miss this opportunity!
    .film
      .capture
        img(src='./images/crispin.jpeg')
      .desc
        p Actor Crispin Glover who actives in Hollywood major epic. For his life work of the ""Big Slide Show"", he who holding the film across the United States for the box office. And, finally this time, coming back from Hollywood to Kanazawa! Show begins the slide show by Glover himself, movie screening, Q &amp; A, finally it ends at autograph session.
      .desc
        p(style='font-size: 22px;') 9/24 (Sat) 21:30
        p(style='margin: 0;') Big Slide Show (60min)
        p(style='margin: 0;') "It Is Fine! Everything Is Fine." Screening
        p(style='margin: 0;') Q&amp;A
        p(style='margin: 0;') Book autograph session
      .desc
        p(style='font-size: 22px;') 9/25 (Sun) 18:30
        p(style='margin: 0;') Big Slide Show (60min)
        p(style='margin: 0;') "What is it?" Screening
        p(style='margin: 0;') Q&amp;A
        p(style='margin: 0;') Book autograph session
    h1 Films
    .film#fine
      h2
        .ja It is Fine! EVERYTHING IS FINE.
      .capture
        img(src='./images/fine.jpeg')
      .info
        p 2007 / USA / 74min
        p Director: Crispin Glover, David Brothers
        p Starring: Stephen · C · Stewart, Margit-Karusutensen
      .desc
        p "The second film of ""IT"" trilogy. What is the crime that person with disabilities who feel a fetish desires to the woman of long hair commit? Depict the spirit and body of the handicap in the film noir of the illusion. A semi-autobiographical film of Stephen · C · Stewart who  starring. M · Karusutensen who appeared in a number of Fassbinder films is co-starring. And also Glover's parents are co-starring.
    .film#what
      h2
        .ja What is it?
      .capture
        img(src='./images/what.jpeg')
      .info
        p 2005 / USA / 72min
        p Director, Screenplay, Cast: Crispin Glover
        p Starring: Michael Buribisu, Ricky Whitman
      .desc
        p Crispin Glover's "IT" trilogy first film. He  stare the world from the point of view that is not the mainstream of the general public. People with down syndrome and snail of the dark fantasy adventure. Glover also plays "God" who manipulate the world behind the scenes.  Excessive director debut film that springing full of delusion of Glover which is said to be "the most eccentric actor of Hollywood".
    .film#talk
      h2
        .ja Guest
      .pure-u-1-2
        .bio
          p クリスピン･グローヴァー　Crispin Hellion Glover
          p 1964年ニューヨーク生まれ。芸能一家で、幼いころからTV、映画などに出演。84年『13日の金曜日･完結編』、85年『バック･トゥ･ザ･フューチャー』、90年『ワイルド･アット･ハート』、93年『ギルバート･グレイプ』、95年『デッドマン』、00～03年『チャーリーズ･エンジェル』シリーズ、07年『ベオウルフ－呪われし勇者－』など多くのハリウッド作品に出演するかたわら、作家、ミュージシャン、そして映画監督として、特異な個性を発揮している。(著作、CDの販売を当日会場で行います。)
      .pure-u-1-2
        .bio
          p Kiichiro Yanashita
          p He was born 1963 in Osaka. University of Tokyo  Engineering department graduation. English and American literature translator, film critic-murder researcher. The books which he translated are J · G · ballad "crash", R · A · Rafferty "Fourth Mansions", Alan Moore / J · H · Williams III "PROMETHEA 1" etc. Such as "New Century reading Encyclopedia," "massacre movie report"series are his writing books. Also "Actress Hayashi Yumika" is his edited work.
