extends layout/index

block title
  title Bad boys movie - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Bad boys movie - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Bad boys movie
    .aori
      p BOYS BE ANARCHY
      p It may even naughtiness, I want to grow up to anarchy
    .film#thunder
      h2
        .ja Crazy Thunder Road
      .capture
        img(src='./images/thunder.jpeg')
        .credits
          p &copy;Kyoutsusha = dynamite professional
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1980 / Japan / 98min
        p Director, Screenplay: Ishii Sogo
        p Screenplay: Mitsuhiko Akita, Hirayanagi Masumi
        p Photo: Kasamatsu Sokudori
        p Starring: Tatsuo Yamada, Yosuke Nakajima, Koji Nanjo, Nenji Kobayashi, Yoichi Iijima
      .desc
        p JIN is the charge commander of the motorcycle gang "MABOROSHI". He againsts the companion who aim to "a motorcycle gang is loved by the citizens" and the super right wing who incorporate JIN and his friends. "I'm going to do it.!" This movie is progressing digitization, but this time it will be roar screening on the film!. Maybe last chance to see it!
    .film#akira
      h2
        .ja AKIRA
      .capture
        img(src='./images/akira.jpeg')
        .credits
          p &copy;1988 Mushroom / Akira Production Committee
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1988 / Japan / 124min
        p original author, written and directed by: Katsuhiro Otomo
        p Music: Geinoh Yamashirogumi
      .desc
        p Neo Tokyo was on the verge of the 2020 Tokyo Olympic Games on the stage, the spectacle destruction describe that motorcycle gang of conflict, demonstrations mob, and a runaway military. This movie has passed nearly 30 years from production, and now a few years left until the Tokyo Olympic Games, so we must see "AKIRA". Shooting the roar screening!
    .film#if
      h2
        .ja If....
      .capture
        img(src='./images/if.jpeg')
      .info
        p 1969 / United Kingdom / 112min
        p Director: Lindsay Anderson
        p Screenplay: David Sherwin
        p Starring: Malcolm McDowell, David Wood, Arthur Lowe, Robin ask Wiz"
      .desc
        p "One man can change the world with a bullet in the right place..."Conservative boarding school on the stage, Malcolm McDowell as a student is dyed to radical violence revolutionary idea, tempt the school in panic. We should see this film now. Despite taking the Grand Prix the Cannes Film Festival, this film has not been on DVD or Blu-ray in Japan. Japan showing this rare movie for the first time in about 50 years.
    .film#legend
      h2
        .ja The Legend Of Billy Jean
      .capture
        img(src='./images/legend.jpeg')
      .info
        p 1985 / USA / 95min
        p Director: Matthew Robbins
        p Starring: Helen Slater, Keith Gordon, Peter Yokote, Christian Slater"
      .desc
        p Siblings deprived of their scooter by the son of influential man in town, they are wanted be subjected to trap. Helen Slater who revolutionized children with the slogan "Fair is Fair", is that dazzling so beauty. There is a scene that Helen is to shortcut under the influence in the "Saint Joan"(directed by Otto Preminger).
