extends layout/index

block title
  title ワルガキ映画 - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    h1 ワルガキ映画
    .aori
      p BOYS BE ANARCHY
      p わんぱくでもいい、アナーキーに育って欲しい
    .film#thunder
      h2
        .ja 狂い咲きサンダーロード
      .capture
        img(src='./images/thunder.jpeg')
        .credits
          p &copy;狂映舎=ダイナマイトプロ
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1980年/日本/98min
        p 監督･脚本：石井聰亙
        p 脚本：秋田光彦、平柳益実
        p 撮影：笠松則通
        p 出演：山田辰夫、中島陽典、南条弘二、小林稔侍、飯島洋一
      .desc
        p 暴走族「魔墓呂死」の特攻隊長・ジンは、「市民に愛される暴走族」を目指す同輩や自分たちを取り込もうとするスーパー右翼に「やってやろーじゃねえよ！」と反抗する。デジタル化が進む本作を最後（？）のフィルム爆音上映！
    .film#akira
      h2
        .ja AKIRA
      .capture
        img(src='./images/akira.jpeg')
        .credits
          p &copy;1988マッシュルーム／アキラ製作委員会
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1988年/日本/124min
        p 原作・監督・脚本：大友克洋
        p 音楽：芸能山城組
      .desc
        p 2020年の東京オリンピックを目前にしたネオ東京を舞台に、暴走族の抗争、暴徒化するデモ、軍の暴走を描いた破壊のスペクタクル。製作から既に30年近くが経ち東京オリンピックまであと数年となった今こそ観るべき映画。爆音上映で浴びせる！
    .film#if
      h2
        .ja if もしも…
        .en If....
      .capture
        img(src='./images/if.jpeg')
      .info
        p 1969年/イギリス/112min
        p 監督：リンゼイ･アンダーソン
        p 脚本：デヴィッド･シャーウィン
        p 出演：マルコム･マクダウェル、デヴィッド･ウッド、アーサー･ロウ、ロビン･アスクウィズ
      .desc
        p 「たった一人の人間でも弾丸一発で世界を変えられるのさ…」保守的な全寮制学校を舞台に、ラディカルな暴力革命思想に染まった学生マクダウェルが、学校を大パニックにする今観るべき革命映画。カンヌ映画祭でグランプリを取りながら未だに日本ではソフトも出ていない幻の作品を約50年ぶりに国内上映。
    .film#legend
      h2
        .ja ビリージーンの伝説
        .en The Legend Of Billy Jean
      .capture
        img(src='./images/legend.jpeg')
      .info
        p 1985年/アメリカ/95min
        p 監督：マシュー･ロビンス
        p 出演：ヘレン･スレイター、キース･ゴードン、ピーター･ヨコーテ、クリスチャン･スレイター
      .desc
        p 町の有力者の息子に原付きを奪われた姉弟は、逆にハメられて指名手配されてしまう。「Fair is Fair」をスローガンに子どもたちの革命を起こすヘレン･スレイターは眩しすぎるほどの美しさ。劇中でオットー・プレミンジャーの『聖女ジャンヌ･ダーク』に影響を受けてショートカットにするシーンがある。
