extends layout/index

block title
  title カランバ - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    h1 カランバ
    .aori
      p いま見なければ、生涯見られない
    .film#caramba
      h2
        .ja カランバ
        .en Dolce e selvaggio
      .capture
        img(src='./images/caramba.jpeg')
      .info
        p 1983年/イタリア/93min
        p 監督:マリオ･モッラ、アントニオ･クリマティ
      .desc
        p 新聞やテレビでは報じられない残酷な場面のみで構成された驚愕のドキュメンタリー。ジープにゲリラの両腕をくくりつけ、腕を引きちぎる処刑を記録した中東での映像はあまりにショッキングなため、ヨーロッパ各国で上映禁止となった。その他にはヒマラヤ奥地での鳥葬の儀式、プエルトリコでの高層ビルの間を綱渡り中失敗し地面に叩きつけられる瞬間などを記録。カナザワ映画祭オールタイム・ベスト第八位作品！
