extends layout/index

block title
  title Cool Japan - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Cool Japan - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Cool Japan
    .aori
      p(style='font-size: .9em;') 世界の巨匠が映画で描いたニッポン！ スゴ～イデスネ！！
    .film#killer
      h2
        .ja The Killer Elite
      .capture
        img(src='./images/killer.jpeg')
      .info
        p 1975 / USA / 123min / English and Japanese subtitles
        p Director: Sam Peckinpah
        p Starring: James Caan, Robert Duvall, Arthur Hill, Bo Hopkins, Mako Iwamatsu, Burt Young
      .desc
        p Horrible technique and organizational power! Men who dynamic act in the murder front of modern America! Its name Killer Elite! Feeling the respect of master Peckinpah to Japan in ninja army corps that appeared gallantly.
    .film#challenge
      h2
        .ja The Challenge
      .capture
        img(src='./images/challenge.jpeg')
      .info
        p 1982 / USA / 108min / Vista / English and Japanese
        p Director: John Frankenheimer
        p Music: Jerry Goldsmith
        p Starring: Scott Glenn, Toshiro Mifune, Donna Kay-benz, Atsuo Nakamura
      .desc
        p Scott Glenn is Poverty boxer. The Katana of legend that Scott(as courier) brought it in Kyoto of Japan . The fate that he would have been involved in the fight against Mifune and Nakamura samurai brothers. This master Frankenheimer's film is by guerrilla shot in the alley of Kyoto, it is the best of the film to learn the Bushido.
    .film#1941
      h2
        .ja 1941
      .capture
        img(src='./images/1941.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1979 / USA / 118min
        p Director: Steven Spielberg
        p Starring: Dan Aykroyd, Ned Beatty, John Belushi, Toshiro Mifune, Christopher Lee, Treat Williams
      .desc
        p This film is on the stage of California from the Pearl Harbor attack by Empire of Japanese Navy after 6 days. Why this film to be continuous spectacle of deviant destruction that  describe the slapstick of residents who panicked? Because the young Spielberg's drastic ability was possible . Let's enjoy the miracle movie in the roar screenings. Also we must watch co-starring scene of Toshiro Mifune and Christopher Lee to ride the Japanese Navy submarine.
