extends layout/index

block title
  title クール・ジャパン - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='クール・ジャパン - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 クール・ジャパン
    .aori
      p(style='font-size: .9em;') 世界の巨匠が映画で描いたニッポン！ スゴ～イデスネ！！
    .film#killer
      h2
        div
          .ja キラー・エリート：ディレクターズカット版
        div
          .en(style='margin-left: 0;') The Killer Elite:Director's Cut
      .capture
        img(src='./images/killer.jpeg')
      .info
        p 1975年/アメリカ/123min/英語・日本語字幕
        p 監督:サム･ペキンパー
        p 出演:ジェームズ･カーン、ロバート･デュヴァル、アーサー･ヒル、ボー･ホプキンス、マコ岩松、バート･ヤング
      .desc
        p 恐るべきテクニックと組織力！現代アメリカの殺人戦線に躍動する男たち！その名はキラー･エリート！颯爽と登場するニンジャ軍団に巨匠ペキンパーの日本に対するリスペクトを感じる。
    .film#challenge
      h2
        .ja 最後のサムライ ザ･チャレンジ
        .en The Challenge
      .capture
        img(src='./images/challenge.jpeg')
      .info
        p 1982年/アメリカ/108min/ビスタ/英語･日本語
        p 監督:ジョン･フランケンハイマー
        p 音楽:ジェリー･ゴールドスミス
        p 出演:スコット･グレン、三船敏郎、ドナ･ケイ･ベンズ、中村敦夫
      .desc
        p 食い詰めボクサーのスコット･グレンが運び屋として日本の京都に持ち込んだのは伝説のカタナだった。三船と中村のサムライ兄弟の闘いに巻き込まれてしまう運命に。巨匠フランケンハイマーが京都の横丁でゲリラ撮影をした本作はブシドーを学ぶには最適の作品だ。
    .film#1941
      h2
        .ja 1941
        .bakuon
          img(src='./images/bakuon.jpeg')
        .en 1941
      .capture
        img(src='./images/1941.jpeg')
      .info
        p 1979年/アメリカ/118min
        p 監督：スティーヴン･スピルバーグ
        p 出演：ダン･エイクロイド、ネッド･ビーティ、ジョン･ベルーシ、三船敏郎、クリストファー･リー、トリート･ウィリアムズ
      .desc
        p 大日本帝国海軍の真珠湾攻撃から6日後のカリフォルニアを舞台に、パニックになった住民たちのドタバタを常軌を逸した破壊のスペクタクルの連続で描いた本作は、若きスピルバーグだから可能だった荒技。この奇跡の映画を爆音上映で堪能しよう。日本軍潜水艦に同乗する三船敏郎とクリストファー・リーの共演シーンも必見。
