extends layout/index

block title
  title 田舎ホラー大全科第二集 - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    h1 田舎ホラー大全科第二集 ～これが田舎のオ･モ･テ･ナ･シ～ オールナイト
    img.max(src='./images/chbanner.jpeg')
    .credits
      p.center ビジュアルデザイン：ミヤジー・スコリモフモフスキ
    .aori
      p 9/18(日) 23:00〜
      p わたしは田舎をおそれる、
      p くらい家屋の中に住むまづしい人間のむれをおそれる。
      p 冬枯れのさびしい自然が私の生活をくるしくする。
      p 田舎の空氣は陰鬱で重くるしい、
      p 田舎の手觸りはざらざらして氣もちがわるい、
      p わたしは田舎をおそれる、
      p 田舎は熱病の靑じろい夢である。
      p 萩原朔太郎 詩集「月に吠える」より
    .film#trapped
      h2
        .ja 暴れん坊村長
        .en Trapped
      .capture
        img(src='./images/trapped.jpeg')
      .info
        p 1982年/カナダ/98min
        p 監督：ウィリアム･フリュエ
        p 出演：ヘンリー･シルヴァ、ニコラス･キャンベル
      .desc
        p ある山奥の村を調査に訪れた大学生グループ。そこは暴れん坊な村長が支配する恐怖の気狂い村だった。
    .film#brotherhood
      h2
        .ja クロンボ遊撃隊 vs KKK団
        .en Brotherhood Of Death
      .capture
        img(src='./images/brotherhood.jpeg')
      .info
        p 1976年/アメリカ/85min
        p 監督･脚本：ビル･ベリー
        p 出演：ロイ･ジェファーソン、ル･タリ、ハスケル･アンダーソン三世、ブライアン･クラーク
      .desc
        p アラバマを舞台に黒人と白人の凄絶な闘いが描かれる。夜な夜な黒人へのリンチ活動に励むクー・クラックス・クランの連中（警官さえもメンバー）を、ベトナム帰りのブラザーたちがブチ殺す。今年最もタイムリーな作品。
    .film#sonny
      h2
        .ja ソニーボーイ
        .en SONNY BOY
      .capture
        img(src='./images/sonny.jpeg')
      .info
        p 1989年/アメリカ/96min
        p 監督：ロバート･マーティン･キャロル
        p 音楽：カルロ･マリア･コルディオ
        p 出演：デヴィッド･キャラダイン、ブラッド･ドゥーリフ
      .desc
        p 田舎の一家に幼いころ誘拐され舌を切り取られた主人公は、奴隷生活から脱出しようとする。デヴィッド・キャラダインの女装、豚男、野生児などどこをとっても田舎ホラーな世界。80年代の隠れた傑作映画。
    .film#provoke
      h2
        .ja 昼下りの女 挑発！！
      .capture
        img(src='./images/provoke.jpeg')
      .info
        p 1979年/日本/69min
        p 監督：斉藤信幸
        p 脚本：桂千穂
        p 出演：八城夏子、深沢ゆみ、飛鳥裕子
      .desc
        p 田舎へドライブに行った主人公がひたすら田舎者に襲われるというまさに和製田舎ホラー。「史上最強の変態映画」と脚本家･桂千穂が豪語するロマンポルノの自信作。
    .film#texas
      h2
        .ja 悪魔のいけにえ2
        .en The Texas Chainsaw Massacre 2
      .capture
        img(src='./images/texas.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1986年/アメリカ/101min
        p 監督･脚本･音楽：トビー･フーパー
        p 脚本：L･M･キット･カーソン
        p 出演：デニス･ホッパー、キャロライン･ウィリアムズ、ジム･シードウ、ビル･モーズリイ
      .desc
        p 前作から13年後。あの一家は未だにテキサスで活動していた！　気狂い保安官vs気狂い一家の気狂い対決は気狂い爆音上映でこそ必見！！
