extends layout/index

block title
  title Countryside horror complete films Vol.2 - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Countryside horror complete films Vol.2 - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Countryside horror complete films Vol.2 allnight "This is the countryside of Omotenashi"
    .aori
      p 9/21(Wed) 22:00
      p I fear the countryside.
      p I fear the poor human herd that live in a dark house.
      p Lonely nature of withered winter is plaguing my life.
      p The country air is gloomy heavy painful.
      p The countryside of touch is feeling bad and rough.
      p I fear the countryside.
      p The countryside is a pale of fever dream.
      p Sakutaro Hagiwara's poetry "barking at the moon."
    img.max(src='./images/chbanner.jpeg')
    .credits
      p.center ビジュアルデザイン：ミヤジー・スコリモフモフスキ
    .film#sonny
      h2
        .ja SONNY BOY
      .capture
        img(src='./images/sonny.jpeg')
      .info
        p 1989 / USA / 96min
        p Director: Robert Martin Carroll
        p Music: Carlo Maria Korudio
        p Starring: David Carradine, Brad Dourif
      .desc
        p When hero was a boy, he has been kidnapped and cut off his tongue by the countryside of the family. He is going to try to escape from slavery life. David Carradine got in drag, pig man, wild boy, a very countryside horror world. 80's hidden masterpiece movie.
        p Screening scheduled to start: 22:00〜
    .film#provoke
      h2
        .ja "Woman in the afternoon" stirring up!!
      .capture
        img(src='./images/provoke.jpeg')
      .info
        .nfc
          img(src='./images/nfc.jpeg')
        p 1979 / Japan / 69min
        p Director: Nobuyuki Saito
        p Screenplay: Chiho Katsura
        p Starring: Natsuko Yashiro, Yumi Fukazawa, Yuko Asuka
      .desc
        p Just Japanese-made countryside horror that hero went to drive to the country is consecutively attacked by a redneck while the full time. This is a roman pornography which Chiho Katsura（playwright) boast with confidence, "The strongest abnormal film in movie history".
        p Archived by the National Film Center of Tokyo
        p Screening scheduled to start: 23:50〜
    .film#brotherhood
      h2
        .ja Brotherhood Of Death
      .capture
        img(src='./images/brotherhood.jpeg')
      .info
        p 1976 / USA / 85min
        p Director, Screenplay: Bill Berry
        p Starring: Roy Jefferson, Le Tari, Haskell Anderson III, Brian Clark
      .desc
        p In Alabama, it describe the brutal struggle of blacks and whites. The Ku Klux Klan(even police officers are the members) strive to lynch for the blacks. Brothers who returns soldiers from Vietnam kill them. Most timely film this year.
        p Screening scheduled to start: 1:10
    .film#trapped
      h2
        .ja Trapped
      .capture
        img(src='./images/trapped.jpeg')
      .info
        p 1982 / Canada / 98min
        p Director: William Furyue
        p Starring: Henry Silva, Nicholas Campbell
      .desc
        p University student group visited a village of mountains for investigattion. There was a mad village of fear dominated by rowdy a village headman.
        p Screening scheduled to start: 2:55
    .film#texas
      h2
        .ja The Texas Chainsaw Massacre 2
      .capture
        img(src='./images/texas.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1986 / USA / 101min
        p Director, Screenplay and Music: Tobe Hooper
        p Screenplay: L · M · Kit Carson
        p Starring: Dennis Hopper, Caroline Williams, Jim Shidou, Bill Mozurii
      .desc
        p After 13 years from the previous film(The Texas Chainsaw Massacre). The family is still active in Texas! Must see that Mad sheriff vs mad family of mad confrontation in the mad roar screening! !
        p Screening scheduled to start: 4:45
