extends layout/index

block title
  title 不安な時代、呪われた映画 - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='不安な時代、呪われた映画 - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 不安な時代、呪われた映画
    .film#will
      h2
        .ja 意志の勝利
        .en Triumph des Willens
      .capture
        img(src='./images/will.jpeg')
      .info
        p 1935年/ドイツ/111min
        p 監督：レニ･リーフェンシュタール
        p 出演：アドルフ･ヒトラー、ルドルフ･ヘス、ヨゼフ･ゲッペルス、ハインリヒ･ヒムラ－
      .desc
        p ヨーロッパを破滅の危機に追い込んだナチス政権によるドイツ第三帝国のプロパガンダ映画。その悪魔的な魅力は当時の民衆を熱狂させ、ナチスの勢いを加速させた。
    .film#exorcist
      h2
        .ja エクソシスト3
        .en THE EXORCIST Ⅲ
      .capture
        img(src='./images/exorcist.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1990年/アメリカ/110min
        p 監督･脚本･原作：ウィリアム･ピーター･ブラッティ
        p 出演：ジョージ･Ｃ･スコット、ブラッド･ドゥーリフ、エド･フランダース、ジェイソン･ミラー
      .desc
        p あの『エクソシスト』から17年後を原作者自らが映画化。告解室で首を切断される神父、精神病院に幽閉されている死んだはずの男、天井に貼りつく痴呆老人など強烈なイメージと音響の爆音上映でお送りする。
    .film#mabuse
      h2
        .ja マブゼ博士の遺言
        .en Das Testament des Dr. Mabuse
      .capture
        img(src='./images/mabuse.jpeg')
      .info
        p 1933年/ドイツ/122min
        p 監督：フリッツ･ラング
        p 出演：ルドルフ･クライン=ロッゲ、オットー･ヴェルニック
      .desc
        p 精神病院に幽閉されながらも社会秩序の破壊を企むマブゼ博士。彼の思想は場所や時間を超えて広がっていく。来るドイツの破滅を予言したような本作は、製作から80年以上経った現在でも全く古びていない。
    .film#ninth
      h2
        div
          .ja トゥインクル･トゥインクル･キラーケーン
        div
          .en(style='margin-left: 0;') The Ninth Configuration
      .capture
        img(src='./images/ninth.jpeg')
      .info
        p 1980年/アメリカ/118min
        p 監督･脚本：ウィリアム･ピーター･ブラッティ
        p 出演：ステイシー･キーチ、スコット･ウィルソン、ジェイソン･ミラー、ジョー･スピネル
      .desc
        p 軍の精神病院に新しく院長として赴任してきたケーン大佐には秘密があった。暴力と不条理が溢れる世界を優しく描いた本作は、名状しがたい不思議な感覚を鑑賞後に残す、一度観たら忘れられない作品。
    .film#macbeth
      h2
        .ja マクベス
        .en The Tragedy of Macbeth
      .capture
        img(src='./images/macbeth.jpeg')
      .info
        p 1971年/アメリカ、イギリス/140min
        p 監督･脚本：ロマン･ポランスキー
        p 出演：ジョン･フィンチ、フランチェスカ･アニス、マーティン･ショウ、ジョン･ストライド
      .desc
        p シェークスピアの原作を暴力的リアリズムで陰惨に映画化。妻子をカルト集団に殺害されたポランスキー監督の心象風景（神のいない世界）がこの作品には現れている。
    .film#salo
      h2
        .ja ソドムの市
        .en Salò o le 120 giornate di Sodoma
      .capture
        img(src='./images/salo.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1975年/イタリア/116min
        p 監督･脚本：ピエル･パオロ･パゾリーニ
        p 原作：マルキ･ド･サド
        p 音楽：エンニオ･モリコーネ
        p 出演：パオロ･ボナチェッリ、ジョルジオ･カタルディ
      .desc
        p ナチ占領下イタリア、ファシストの館で繰り広げられる変態行為の狂宴を執拗に描く。監督のパゾリーニは出演者の少年に惨殺され、本作が遺作となった。
    .film#talk
      h2
        .ja 【トークイベント】映画の生体解剖×サタニスト 9/22(木・祝) 17:30〜
      .pure-u-1-3
        img.max(src='./images/c1.jpeg')
      .pure-u-1-3
        img.max(src='./images/c2.jpeg')
      .pure-u-1-3
        img.max(src='./images/c3.jpeg')
      .pure-u-1-3
        .info
          p 稲生平太郎（横山茂雄）
          p 1954年大阪生まれ。作家。著書に幻想小説「アクアリウムの夜」および「アムネジア」、UFO・オカルト論「定本何かが空を飛んでいる」、高橋洋との対談集「映画の生体解剖」など。横山名義の著書としては「聖別された肉体」「異形のテクスト」「神の聖なる天使たち」など。
      .pure-u-1-3
        .info
          p 高橋洋
          p(style='white-space: pre;') 1959年千葉生まれ。脚本作に&#x0A;『女優霊』『リング』&#x0A;『インフェルノ蹂躙』&#x0A;『復讐 運命の訪問者』&#x0A;『蛇の道』『発狂する唇』&#x0A;『血を吸う宇宙』『おろち』など。&#x0A;監督作に『ソドムの市』『狂気の海』&#x0A;『恐怖』『旧支配者のキャロル』。&#x0A;著書に「映画の魔」、稲生平太郎と&#x0A;の共著「映画の生体解剖」がある。
      .pure-u-1-3
        .info
          p 高橋ヨシキ
          p 1969年東京生まれ。デザイナー、ライター、サタニスト。雑誌『映画秘宝』アートディレクターを務める傍らライターとしても執筆。多くのDVDジャケット・映画ポスターのデザインを手がける。著書に映画評集「暗黒映画入門/悪魔が憐れむ歌」「暗黒映画評論/続・悪魔が憐れむ歌」、実話怪談「異界ドキュメント」シリーズなど。
