extends layout/index

block title
  title Uneasy times, doomed films - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Uneasy times, doomed films - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Uneasy times, doomed films
    .film#will
      h2
        .ja Triumph des Willens
      .capture
        img(src='./images/will.jpeg')
      .info
        p 1935/Germany/111min
        p Director: Leni Riefenstahl
        p Cast: Adolf Hitler, Rudolf Hess, Joseph Goebbels, Heinrich Himmler
      .desc
        p The propaganda film of the Third Reich by the German Nazi regime which led Europe into catastrophe. Its devilish fascination drove the people of the time crazy and accelerated the force of the Nazis.
    .film#exorcist
      h2
        .ja THE EXORCIST Ⅲ
      .capture
        img(src='./images/exorcist.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1990/USA/110min
        p Director, writer: William Peter Blatty
        p Cast: George C. Scott, Brad Dourif, Ed Flanders, Jason Miller
      .desc
        p Set 17 years after the story of the original Exorcist. A father gets beheaded in a confession box, a man who is supposed to be dead is confined in a mental hospital, a old man in dementia stuck to the ceiling. Directed by the writer of the original Exorcist novel. Shown with intense image and Bakuon (explosive sound) screening. 
    .film#mabuse
      h2
        .ja Das Testament des Dr. Mabuse
      .capture
        img(src='./images/mabuse.jpeg')
      .info
        p 1933/Germany/122min
        p Director: Fritz Lang
        p Cast: Rudolf Klein-Rogge, Otto Wernicke
      .desc
        p Dr. Mabuse plans to destroy the order of society from his cell in an asylum. His thoughts spread beyond places and time. This film from 80 years ago that almost prophesied coming destruction of Germany has not aged at all.
    .film#ninth
      h2
        .ja The Ninth Configuration
      .capture
        img(src='./images/ninth.jpeg')
      .info
        p 1980/USA/118min
        p Director, writer: William Peter Blatty
        p Cast: Stacy Keach, Scott Wilson, Jason Miller, Joe Spinell
      .desc
        p Colonel Kane has arrived in his new post of director in an army asylum, but he has a secret. This movie portrays the world as full of violence and absurd, and leaves inexpressible strange feelings. You will never forget this movie.
    .film#macbeth
      h2
        .ja The Tragedy of Macbeth
      .capture
        img(src='./images/macbeth.jpeg')
      .info
        p 1971/USA, UK/140min
        p Director, writer: Roman Polanski
        p Cast: Jon Finch, Francesca Annis, Martin Shaw, John Stride
      .desc
        p Shakespeare's play is portrayed with violent, cruel realism. The mental scenery of Polanski whose wife was murdered by that cult (godless world) is expressed in the film.
    .film#salo
      h2
        .ja Salò o le 120 giornate di Sodoma
      .capture
        img(src='./images/salo.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1975/Italy/116min
        p Director, writer: Pier Paolo Pasolini
        p Story: Marquis de Sade
        p Music: Ennio Morricone
        p Cast: Paolo Bonacelli, Giorgio Cataldi
      .desc
        p In Nazi-occupied Italy, this film obstinately depicts a crazy feast of perversion in a fascist palace. This is the last film of Pasolini who was murdered by a boy who performed in the film. 
    .film#talk
      h2
        .ja [Talk event] The Vivisection of Cinema × Satanist 9/22 (Thu) 17:30-
      .pure-u-1-3
        img.max(src='./images/c1.jpeg')
      .pure-u-1-3
        img.max(src='./images/c2.jpeg')
      .pure-u-1-3
        img.max(src='./images/c3.jpeg')
      .pure-u-1-3
        .info
          p Heitaro Inoh (Shigeo Yokoyama)
          p Born in Osaka in 1954. Writer. Author of the novels "Night of Aquarium" and "Amnesia". His other non-fiction works include "Something Is Flying the Sky" (about UFO theory, occultism), coauthor of "The Vivisection of Cinema" with Hiroshi Takahashi. Under the name of Shigeo Yokoyama, he wrote "Consecrated Flesh", "Texts of Deformity", "Holy Angels of God -Angel Summoning of John Dee 1581-1607"
      .pure-u-1-3
        .info
          p Hiroshi Takahashi
          p Born in Chiba in 1959. Writer: "Don't Look Up", "Ring", "Inferno infringement", "The Revenge I: A Visit from Fate", "Serpent's Path", "Crazy Lips", "Gore from Outer Space", "Orochi - Blood" etc.. Director: Sodom the Killer", "Sea of Madness", "The Sylvian Experiments", "The Carol of the Old Ones". He also wrote a book "Evil of Cinema" And coauthor of "The Vivisection of Cinema" with Heitaro Inoh.
      .pure-u-1-3
        .info
          p Yoshiki Takahashi
          p Born in Tokyo in 1969. Designer, writer, satanist. Art director of a movie magazine "Eiga Hiho". He has designed many DVD packages and movie posters. His written works are "Sympathy by the Devil", "Beneath the Sympathy by the Devil" and "Underworld Document"series.
