extends layout/index

block title
  title マッドマックス 怒りのデス･ロード 怒りの爆音野外上映 - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='マッドマックス 怒りのデス･ロード 怒りの爆音野外上映 - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 オープニングイベント
    h1.first-black マッドマックス 怒りのデス･ロード
    h1.first-black
      | 怒りの
      img(
        src='./images/bakuon.jpeg'
        style='width: 80px; position: relative; top: 8px;'
      )
      | 野外上映
    .aori
      p 上映前には和太鼓チームDIA+と花の宴による和太鼓演奏を上演(和太鼓チーム衣装制作:金沢文化服装学院)
      p 日程：9/17（土）19時頃 ※日照時間による
      p 会場：金沢市横安江町商店街
      p 料金：入場無料 ※雨天決行
      p ※かなざわ映画の会サポーター2016の方には優先エリアを設けます。
    .pure-u-1-1
      .supporter.pure-u-sm-3-4
        a(href='//www.eiganokai.com/about/supporter.html', target='_blank')
          p
            span かなざわ映画の会
          p
            span サポーター2016募集中！
    .film#furyroad
      h2
        .ja マッドマックス 怒りのデス･ロード
        .en Mad Max: Fury Road
      .capture
        img(src='./images/furyroad.jpeg')
        .credits
          p &copy;2015 Warner Bros. Feature Productions Pty Limited. All rights reserved.
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 2015年／オーストラリア／120min
        p 監督・脚本：ジョージ･ミラー
        p 脚本：ブレンダン･マッカーシー、ニコ･ラソウリス
        p 音楽：ジャンキー･XL
        p 出演：トム･ハーディ、シャーリーズ･セロン、ニコラス･ホルト、ヒュー･キース＝バーン
      .desc
        p 文明崩壊後の世界で、放浪者マックスと女たちが独裁者イモータン･ジョーの軍団と凄絶な闘いを繰り広げる
    .pure-u-1-1
      pure-u-sm-3-4
        a(href='http://yokoccho.collabon.com/', target='_blank')
          img.max(src='./images/yoko.jpeg')
