extends layout/index

block title
  title 期待の新人監督2016 - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    h1
      | カナザワ映画祭2016オープニングイベント マッドマックス 怒りのデス･ロード 怒りの
      img(
        src='./images/bakuon.png'
        style='width: 80px; position: relative; top: 8px;'
      )
      | 野外上映
    .aori
      p 日程：9/17（土）19時頃 ※日照時間による
      p 会場：金沢市横安江町商店街
      p 料金：入場無料 ※雨天決行
      p ※かなざわ映画の会サポーター2016の方には優先エリアを設けます。
    .pure-u-1-1
      .supporter.pure-u-sm-3-4
        a(href='//www.eiganokai.com/about/supporter.html')
          p
            span かなざわ映画の会
          p
            span サポーター2016募集中！
    .film#furyroad
      h2
        .ja マッドマックス 怒りのデス･ロード
        .en Mad Max: Fury Road
      .capture
        img(src='./images/furyroad.png')
        .credits
          p &copy;2015 Warner Bros. Feature Productions Pty Limited. All rights reserved.
      .info
        .bakuon
          img(src='./images/bakuon.png')
        p 2015年／オーストラリア／120min
        p 監督・脚本：ジョージ･ミラー
        p 脚本：ブレンダン･マッカーシー、ニコ･ラソウリス
        p 音楽：ジャンキー･XL
        p 出演：トム･ハーディ、シャーリーズ･セロン、ニコラス･ホルト、ヒュー･キース＝バーン
      .desc
        p 文明崩壊後の世界で、放浪者マックスと女たちが独裁者イモータン･ジョーの軍団と凄絶な闘いを繰り広げる
    .pure-u-1-1
      pure-u-sm-3-4
        a(href='http://yokoccho.collabon.com/')
          img.max(src='./images/yoko.png')
