extends layout/index

block title
  title Furious outdoor screening of "Mad Max fury road" - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Furious outdoor screening of "Mad Max fury road" - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Kanazawa Film Festival 2016 Opening Event
    h1.first-black Mad Max fury road
    h1.first-black Furious outdoor screening
    .aori
      p Before screening, it plans to stage a Japanese drum performance by the Japanese drum team "DIA+" and "HANA NO UTAGE"(Banquet of flowers) .
      p 9/17 (Sat) 19:00 around
      p * According to sunshine time
      p Venue: Kanazawa Yokoyasuecho shopping district.
      p Rates:Free * If it held even in the rain
      p * There will be a priority area for "Kanazawa cinema club supporters 2016"
    .pure-u-1-1
      .supporter.pure-u-sm-3-4
        a(href='//www.eiganokai.com/about/supporter.html', target='_blank')
          p
            span かなざわ映画の会
          p
            span サポーター2016募集中！
    .film#furyroad
      h2
        .ja Mad Max: Fury Road
      .capture
        img(src='./images/furyroad.jpeg')
        .credits
          p &copy;2015 Warner Bros. Feature Productions Pty Limited. All rights reserved.
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 2015 / Australia / 120min
        p Director, Screenplay: George Miller
        p Screenplay: Brendan McCarthy, Nico Rasourisu
        p Music: Junkie · XL
        p Starring: Tom Hardy, Charlize Theron, Nicholas Hoult, Hugh Keith = burn
      .desc
        p In the world of civilization collapse, drifter Max and women brutal fight dictator Imotan Joe and his soldiers.
    .pure-u-1-1
      pure-u-sm-3-4
        a(href='http://yokoccho.collabon.com/', target='_blank')
          img.max(src='./images/yoko.jpeg')
