extends layout/index

block title
  title 爆音 HARDCORE HENRY - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    .wrapper
      h1 爆音 HARDCORE HENRY
      .aori
        p 世界初の映画ジャンル「ファースト・パーソン・アクションムービー」！！ 最初から最後まで一人称視点（ファースト・パーソン）で進むノンストップ・アクション！！
      .film#henry
        h2
          .ja HARDCORE HENRY
        .info
          p 2016年/ロシア、アメリカ/96min
          p 監督・脚本：イリヤ・ナイシュラー
          p 出演：シャールト・コプリー、ダニーラ・コズロフスキー、ヘイリー・ベネット、ティム・ロス
          p 配給：クロックワークス
          p 提供：パルコ／クロックワークス　2017年春 全国ロードショー！
        .desc
          p 改造手術を施され超人となったヘンリーは、妻を拐った悪の組織と全面対決する。最初から最後まで主人公の主観視点（ファーストパーソン・ビュー）でストーリーが進む全く新しい映画がロシアからやって来た！  臨場感満載の超絶アクションを爆音上映で体験せよ！
      .film#talk
        h2
          .ja ゲスト
        .desc
          p イリヤ・ナイシュラー（監督）ロシア生まれ。幼少期をロンドンで過ごす。本作がデビュー作の若き俊英。
