extends layout/index

block title
  title HARDCORE HENRY - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='HARDCORE HENRY - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1
      img(
        style='width: 80px; position: relative; top: 4px;'
        src='./images/bakuon.jpeg'
      )
      | HARDCORE HENRY
    .aori
      p 9/24(Sat) 18:20
      p The first time in the world of movie genre "first person action movie"! Non-stop action to proceed in the first-person point of view from the beginning to the end!!
    .film#henry
      h2
        .ja HARDCORE HENRY
      .capture
        img(src='./images/hardcorehenry.jpeg')
        .credits
          p &copy; 2016 STX FINANCING, LLC. ALL RIGHTS RESERVED.
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 2016 / Russia, the United States / 96min
        p Director, Screenplay: Ilya Naishura
        p Starring: Sharlto Copley, Danira-Kozlovsky, Haley Bennett, Tim Roth
      .desc
        p Henry has been taking remodeling surgery, and became a superman. He showdown the evil army that kidnapped his wife.  From Russia, All-new movie that story progresses in the hero of the point of view (first-person view) came, from the beginning to the end! Get the experience that a transcendent action of high presence in roaring screening!
    .film#talk
      h2
        .ja Guest
      .pure-u-1-2
        img.max(src='./images/ilya.jpeg')
      .pure-u-1-1
        .bio
          p Ilya Naishura (Director).
          p He was born in Russia,  spend his childhood in London. Young eminence who made his debut in this film.
      .pure-u-1-2
        img.max(src='./images/yoshida.jpeg')
      .pure-u-1-1
        .bio
          p ジャンクハンター吉田（吉田武）
          p 1970年11月生まれの45歳。映画及びゲーム関係で活動する編集者兼ライター。主な著書に『ゲームになった映画たち』シリーズがある。
