extends layout/index

block title
  title 爆音 ハードコア - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='爆音 ハードコア - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1
      img(
        style='width: 80px; position: relative; top: 4px;'
        src='./images/bakuon.jpeg'
      )
      | ハードコア
    .aori
      p 9/24(土) 18:20〜
      p 世界初の映画ジャンル「ファースト・パーソン・アクションムービー」！！ 最初から最後まで一人称視点（ファースト・パーソン）で進むノンストップ・アクション！！
    .film#henry
      h2
        .ja ハードコア
        .en HARDCORE HENRY
      .capture
        img(src='./images/hardcorehenry.jpeg')
        .credits
          p &copy; 2016 STX FINANCING, LLC. ALL RIGHTS RESERVED.
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 2016年/ロシア、アメリカ/96min
        p 監督・脚本：イリヤ・ナイシュラー
        p 出演：シャールト・コプリー、ダニーラ・コズロフスキー、ヘイリー・ベネット、ティム・ロス
        p 配給：クロックワークス
        p 提供：パルコ／クロックワークス　2017年春 全国ロードショー！
      .desc
        p 改造手術を施され超人となったヘンリーは、妻を拐った悪の組織と全面対決する。最初から最後まで主人公の主観視点（ファーストパーソン・ビュー）でストーリーが進む全く新しい映画がロシアからやって来た！  臨場感満載の超絶アクションを爆音上映で体験せよ！
    .film#talk
      h2
        .ja お知らせ
      .desc
        p 9月24日（土）18:20～の「最速ジャパン・プレミアム上映 爆音『ハードコア』」ですが、イリヤ・ナイシュラー監督が急遽都合により来日できなくなりました。監督トークを楽しみにされていた方は申し訳ありません。
        p また、それに伴い同じくトークゲストであるジャンクハンター吉田さんの登壇もキャンセルとなりました。
        p 『ハードコア』の爆音プレミア上映は当初の予定通り行いますが、チケット（前売り券２０００円　当日券２５００円）の返金をご希望の方は９月２３日（金）１９時までに下記のそれぞれの窓口までよろしくお願いいたします。
        p
          | webチケット:&nbsp;
          a.dottedAnchor(href='https://www.dmm.com/help/-/support/charge/=/subclass=etc/') DMM.E窓口
        p 0570-088-3325（24時間・365日受付）
        p
          | 紙チケット:&nbsp;
          a.dottedAnchor(href='./access.html') カナザワ映画祭2016会場受付
