body
  background-color #ffc

.wrapper
  margin 0 auto

iframe
  width 100%
  height 1300px

header
  background-color #fff

  .logo
    text-align center
    line-height 0

  .links
    text-align center

    a
      margin 4px
      font-size 10px
      color #090
      text-decoration none

      &:hover
        background-color #cf0

h1
  font-weight 100
  font-size 1.5em
  margin 0

article
  background-color #fff

  h2
    border-bottom 2px #888 solid

  h3
    border-left 8px #888 solid
    border-bottom 2px #888 solid

  h4
    margin 0
    margin-bottom 5px
    font-size 1.1em
    font-weight 100
    text-align center

  i
    margin-right 5px

  img
    width 100%

  .vc
    margin .6em
    padding .4em
    background-color #eee

  .comment
    p
      margin .4em

  .link
    color #000
    text-decoration none

    &:hover
      text-decoration underline

  .poster
    margin 5px

  .movie
    margin 5px
    background-color #eee

  .info
    margin 0
    margin-bottom 5px
    margin-left 1%
    font-size .8em
    color #555

footer
  p
    color #aaa
    text-align center
    font-size 12px
    margin 0
    padding 0

@media screen and (min-width: 790px)
  .wrapper
    width 790px

  .visual
    margin-left 12.5%

@media screen and (min-width: 630px)
  header
    .logo
      text-align left
      img
        margin-left 5px

    .links
      text-align right

      a
        margin 10px
        font-size 12px

  .visual
    margin-left 12.5%

  article
    padding 5%
    padding-top 0

  .fes-info
    margin-left 5px

@media screen and (max-width: 414px)
  .wrapper
    width 414px

  iframe
    width 414px

@media screen and (max-width: 375px)
  .wrapper
    width 375px

  iframe
    width 375px

@media screen and (max-width: 320px)
  .wrapper
    width 320px

  iframe
    width 320px
