extends layout/index

block title
  title カナザワ映画祭2016｜かなざわ映画の会

block body
  #toppage
    #main.pure-u-1-1
      img(src='./images/visual.png')
    .wrapper
      p.center メインビジュアル:山口晃
      p 2007年の第1回目から今年で10周年を迎えるカナザワ映画祭。
      p 10回目にしてファイナルとなる今年は、エロ･グロ･ナンセンスから狂熱的ナショナリズム、社会不安、暴動騒乱、そして戦争。
      p 映画を通して、時代を観る。
