extends layout/index

block title
  title カナザワ映画祭2016｜かなざわ映画の会

block body
  #toppage
    #main.pure-u-1-1
      img(src='./images/visual.png')
    .credits(style='margin: 0;')
      p.center メインビジュアル:《奨堕不楽圖》 Sho-Da-Furaku (Show the Flag) 2003
      p.center 撮影：木奥恵三 
      p.center &copy;YAMAGUCHI Akira, Courtesy Mizuma Art Gallery
    .copy
      p 2007年の第1回目から今年で10周年を迎えるカナザワ映画祭。
      p 10回目にしてファイナルとなる今年は、エロ･グロ･ナンセンスから狂熱的ナショナリズム、社会不安、暴動騒乱、そして戦争。
      p 映画を通して、時代を観る。
    h1 プログラム
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./yuyaisback.html')
          img(src='./images/yuya.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./furyroad.html')
          img(src='./images/furyroad2.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./pray.html')
          img(src='./images/pray2.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./tobe.html')
          img(src='./images/tobe2.png')
    .pure-u-1-1
      .topbanner
        a(href='./caramba.html')
          img(src='./images/caramba.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./tomoshibi.html')
          img(src='./images/tomoshibi2.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./pink.html')
          img(src='./images/pink2.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./boysbeanarchy.html')
          img(src='./images/ba.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./avantgradeero.html')
          img(src='./images/avant.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./cooljapan.html')
          img(src='./images/cooljapan.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./war.html')
          img(src='./images/war.png')
    .pure-u-1-1
      .topbanner
        a(href='./countryhorror.html')
          img(src='./images/chbanner.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./cursed.html')
          img(src='./images/cursed.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./riot.html')
          img(src='./images/riot.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./rhs.html')
          img(src='./images/rhs2.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./bigslideshow.html')
          img(src='./images/crispin2.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./hardcorehenry.html')
          img(src='./images/hardcorehenry2.png')
    .pure-u-1-1.pure-u-sm-1-2
      .topbanner
        a(href='./newhope.html')
          img(src='./images/newhope.png')
    .pure-u-1-1
      .credits
        p ■ 主催：かなざわ映画の会
        p ■ 特別協力：金沢都ホテル
        p ■ 協力：金沢フィルムコミッション、シネモンド、東京国立近代美術館フィルムセンター、横安江町商店街振興組合
        p ■ 音響協力：樋口泰人（boid）
        p ■ 映写音響装置オペレート：モノリス
        p ■ 映画祭ロゴ/ポスターデザイン：檜垣紀六
        p ■ メインビジュアル：山口晃
        p ■ サイトデザイン：小林貴也（http://jgs.me）
        p ■ 作品提供：boid、Crispin Glover、Hollywood classics、Park circus limited、REEL SUSPECTS、Tamasa distribution、石井岳龍、大島渚プロダクション、クロックワークス、国際放映、新日本映像、東映、東宝、東宝プロモーション、日活、「山谷」制作上映委員会、レスぺ、ロシア映画社、若松プロダクション
        p ■ 字幕制作：秋元卓、伊藤めぐみ、大泉歩由、大澤武史、大野晃平、長夏実、上條葉月、小林貴也、坂元圭、鈴木智士、田中聖子、平澤真未
        p ■ 後援：石川県興行生活衛生同業組合、北國新聞社、北陸朝日放送
        p ■ 助成：芸術文化振興基金、金沢市
        p ■ 協賛（50音順）: アンティーク  フェルメール 、石引パブリック、岩本清商店、欧風食堂 ル マルス、Otaku Bar K3、オヨヨ書林シンタテマチ店、オヨヨ書林せせらぎ通り店、CAFE : MONOCHROME、Curio Espresso and Vintage Design、collabon、JO-HOUSE、旬菜焼はざま、shirasagi/白鷺美術、SKANDA、スペイン料理アロス、田中昭文堂印刷株式会社、野澤（美容院）、バーゴールデンフィッシュ、ひがし山とみ、ひげの店、ビストロユイガ、ひらみぱん、葡萄夜、magnolia KZ
        p ■ かなざわ映画の会サポーター2016（入会順）：椿原敦一郎、a.piedi.nudi、スペックス、ら～ふぇ～☆ぼ～いず、ビター・ダカラン、いしい たくろう、ksyuk、m465、高橋ナオヤ、イチロー＠道楽滝野店、コーノリョー、古泉智浩、OREN  ISHII、ここあ、ルシフ＆ヨシノ、沢木麻、田辺望、真睦&amp;馳純、岩瀬慎治、ＧＡＫ、Xaka、だいこん、まてぃ～に、岡大智、masaki_13、覚本直政、ゲ○のばかやろう、KKJ&amp;AZ、石塚紘司、庵野ハルカ、ほさか、シノハラミキオ、ぴのきお、@shibaGari、ヴエダコウシ、渡辺智史、むらたまさのり、西野尾貞明、豊住美雪、カセット館後藤、ばっどていすとさんどいっち、大畑浩一、Quirksob a.k.a Django、齋藤結衣、雉雅威、Y.Iijima、平野吉光、前田顕毅、さわら、わか、roony
