body
  background-color #F3F0E8

.wrapper
  margin 0 auto
  background-color #fafafa

.center
  text-align center

.max
  width 100%

.dottedAnchor
  text-decoration none
  border-bottom 1px dotted #aaa
  color #781A53

  &:hover
    color #FF1787
    border-bottom 0

header
  background-color #fff

  .logo
    text-align center
    line-height 0

  .links
    text-align center

    a
      margin 4px
      font-size 10px
      color #009900
      text-decoration none

      &:hover
        background-color #00C9FF

#maintitle
  img
    width 100%

#mainmenu
  position relative
  top -6px
  background-color #AA1E1E
  text-align center
  font-family "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif

  .mainmenu-item
    border 1px solid #fff

  .pure-menu-link
    padding .3em

  .pure-menu-link:hover
    background-color #AA1E1E

  a, .pure-menu-link
    text-decoration none
    color #fff
    font-size 22px

  .pure-menu-children
    background-color #6B1313
    text-align left
    padding .3em 1em

    .pure-menu-item
      margin-bottom .3em

    a
      border-bottom 2px dotted #fff

#toppage
  #main
    img
      width 100%

    p
      margin 0

  .aori
    p
      margin .5em

  .topbanner
    padding 3px
    margin 3px
    border 1px solid #999
    text-align center

    img
      width 100%

#feature, #schedule, #toppage, #ticketPage, #accessPage
  font-family "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif

  h1
    margin 0
    padding-left 1em

    &:first-letter
      color #991325

  .aori
    padding 10px
    width 80%
    margin 0 auto
    margin-top 10px
    font-size 18px

  .film
    background-color #fff
    margin 0 auto
    margin-bottom 20px
    padding-bottom 5px

    .capture
      img
        width 100%

    h2
      border-top 3px solid #991325
      background-color #fff
      padding-left 2px
      margin-bottom 0
      line-height 28px
      padding-top 3px

    .en, .ja
      display inline

    .en
      margin-left 3%
      font-size 14px

    .info, .desc
      margin 5px

    .info
      p
        margin 0
        padding 0
        font-size 12px
        color #333

#ticketPage, #accessPage
  table
    margin 0 auto
    margin-top 20px
    margin-bottom 20px

    thead
      td
        background-color #ddd

    td
      text-align center

  .content
    padding 5px
    margin-bottom 40px

  .links
    width 80%
    margin 0 auto
    margin-top 10px

  .notice
    font-size 12px
    color #333

  ul
    padding 0
    margin 0
    list-style none

#schedule
  p
    margin 0
    padding 0

  table
    width 100%
    table-layout fixed

    thead
      td
        background-color #ddd

    td
      padding 5px
      background-color #fff
      text-align center

      .title
        font-size 16px

      .time
        font-size 12px
        color #333

  .info
    text-align center

.credits
  margin 10px

  p
    margin 0
    padding 0
    font-size 11px
    color #333

footer
  p
    color #aaa
    text-align center
    font-size 12px
    margin 0
    padding 0

@media screen and (min-width: 790px)
  .wrapper
    width 790px

  .film
    width 80%

  .intro
    width 90%

  .supporter
    p
      display inline

@media screen and (min-width: 630px)
  .pure-u-sm-1-2
    width 50%
    *width 49.9690%

  .pure-u-sm-1-4
    width 25%
    *width 24.9690%

  .pure-u-sm-3-4
    width 75%
    *width 74.9690%

  .pure-u-sm-1-1
    width 100%

  .pure-u-sm-1-8
    width 12.5000%
    *width 12.4690%

  .pure-u-sm-5-8
    width 62.5000%
    *width 62.4690%

  .pure-u-sm-1-6
    width 16.6667%
    *width 16.6357%

  header
    .logo
      text-align left
      img
        margin-left 5px

    .links
      text-align right

      a
        margin 10px
        font-size 12px

  #toppage
    h1
      display none

    .mainContainer
      margin 0 auto

@media screen and (max-width: 414px)
  .wrapper
    width 414px

  .film
    width 100%

  .intro
    width 100%

@media screen and (max-width: 375px)
  .wrapper
    width 375px

  .film
    width 100%

  .intro
    width 100%

@media screen and (max-width: 320px)
  .wrapper
    width 320px

  .film
    width 100%

  .intro
    width 100%
