extends layout/index

block title
  title 期待の新人監督2016 - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    h1 期待の新人監督2016
    .aori
      p 一般公募自主映画の中から選ばれた3作品を上映し、最優秀作品としてカナザワ映画祭期待の新人監督賞、観客投票で選ばれる観客賞、そして出演俳優賞を選ぶ。
    .film#requiem
      h2
        .ja 狂える世界のためのレクイエム
      .capture
        img(src='./images/requiem.png')
      .info
        p 2015年/88min
        p 監督･脚本･編集：太田慶
        p 出演：阿部隼也、東亜優、山村真也、永里健太朗、小宮孝泰
      .desc
        p ボーイ・ミーツ・ガール。だが男は「通り魔」、女は「テロリスト」だった。男は女の為に世界を滅ぼすことを誓い、「一人一殺」のテロを決行することになる。「みんな資本主義が悪いんだ！」
        p 太田慶 1968年大阪生まれ。しがないサラリーマン生活を20数年間続けながら、頭の中では映画のことばかり考えています。次第に映画に現実を侵食され、こんな映画を撮ってしまいました。自分のプロフィール代わりの一本です。ぜひ観てやって下さい。
    .film#sainara
      h2
        .ja さいなら、BAD SAMURAI
      .capture
        img(src='./images/sainara.png')
      .info
        p 2016年/61min
        p 監督･脚本･主演：大野大輔
        p 出演：本間玲音、黒木歩、富永茜
      .desc
        p 初めて撮った自主制作映画『BAD SAMURAI』で110万円の借金を抱え、どん詰まりに陥った大野大輔が本人主演、本人監督で撮った自伝映画。21世紀の自主映画残酷物語。現実に救いはない、これは実話だ。
        p 大野大輔 1988年千葉生まれ。呪われた映画作家。映画美学校13期フィクションコース初等科修了。初めて撮った自主制作映画で多額の借金を抱え、しかも誰にも観てもらえませんでした。もう映画やめます。さいなら。
    .film#hana
      h2
        .ja 花に嵐
      .capture
        img(src='./images/hana.png')
      .info
        p 2015年/76min
        p 監督･脚本･撮影･編集･主演：岩切一空
        p 出演：里々花、小池ありさ、篠田竜、半田美樹
      .desc
        p 早稲田大学で映画サークルに入った「僕」こと「アブラ」を導く不思議な先輩女子の「花」。初めてカメラを手にした「僕」の周りに起きた奇跡の「嵐」をＰ.Ｏ.Ｖ.手法で収めたセミ・フェイク・ドキュメンタリー。
        p 岩切一空 1992年東京世田谷生まれ。大学で映画製作に目覚める。目覚めた瞬間、映画に祝福されている事を確信。
    .film#talk
      h2
        .ja 審査員
      .pure-u-1-3
        img.max(src='./images/n1.png')
      .pure-u-1-3
        img.max(src='./images/n2.png')
      .pure-u-1-3
        img.max(src='./images/n3.png')
      .pure-u-1-3
        .info
          p 黒沢清
          p 1955年神戸生まれ。立教大学在学中より8ミリ映画を撮り始める。主な作品に『ＣＵＲＥ』『回路』（00年カンヌ映画祭国際批評家連盟賞受賞）『アカルイミライ』『トウキョウソナタ』（08年カンヌ映画祭ある視点審査員賞）『岸辺の旅』（14年カンヌ映画祭ある視点監督賞）など。現在に至るまで多数の国でその作品が紹介されている。最新作は『クリーピー』と初のフランス映画となる『ダゲレオタイプの女』。
      .pure-u-1-3
        .info
          p ダンカン
          p 1959年埼玉生まれ。たけし軍団の一員として幅広く活動。出演作には、『3-4x10月』『みんな～やってるか！』『この胸いっぱいの愛を』『純喫茶磯辺』『容疑者Ｘの献身』『俺たちに明日はないッス』『ゆるせない、逢いたい』『白ゆき姫殺人事件』『ソフテン！』など多数。監督作には『七人の弔』がある。
      .pure-u-1-3
        .info
          p 柳下毅一郎
          p 1963年大阪生まれ。東京大学工学部卒業。英米文学翻訳家・映画評論家・殺人研究家。訳書にＪ・Ｇ・バラード「クラッシュ」、R・A・ラファティ「第四の館」、アラン・ムーア／J・H・ウィリアムズIII「プロメテア 1」など。著書に「新世紀読書大全」「皆殺し映画通信」シリーズなど。編書に「女優 林由美香」がある。
