extends layout/index

block title
  title Talk show of Motomiya movie theater's master Shuji Tamura and "Pink movie good scene collection" - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Talk show of Motomiya movie theater\'s master Shuji Tamura and "Pink movie good scene collection" - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Talk show of Motomiya movie theater's master Shuji Tamura and "Pink movie good scene collection"
    .aori
      p 9/19(Mon) 12:05
      p Screening the collection of the pink movie nice scene about 50 years ago that master Tamura collected and edited.
      p Screening (40 minutes) and talk show(40 minutes).
      p "Sensuality Japanese sexual prodigy night story" that a rare pink movie unearthed in Motomiya movie theater will be screened.
    .film#motomiya
      h2
        .ja Motomiya movie theater
      .capture
        img(src='./images/motomiya2.jpeg')
        .credits
          p &copy;都築響一
      .desc
        p 1914 opening - 1963 closing. It celebrates 102 years this year.
        p Even now from closing, Shuji Tamura who superintendent has guarded a carbon type projector and at the time of the movie posters of the vintage, and the theater.
    .film#collection
      h2
        .ja The collection of the pink movie nice scene 2016
      .info
        p 2016/Japan/40min
      .desc
        p This collection is about was made by 50-year-old independent film production, that nice pink movie scenes is connected like kiss scenes of "Nuovo Cinema Paradiso" Nice scene collection from the rare film  such as that movie of Koji Seki's legengary works.
    .film#yawa
      h2
        .ja Sensuality Japanese sexual prodigy night story
      .capture
        img(src='./images/yawa3.jpeg')
      .info
        p 1971 / Japan / 80min
        p Director: Iwao Zushi
        p Screenplay: Masaji Hoshi, Sakyo Kirishima
        p Animation Director: Norihiko Shima
        p Starring: MIki Hayashi, Mari Iwai, Kenichiro Sugiyama, Yuko Sugi
      .desc
        p This rare movie which is said to "the most mysterious film in the animation movie history". It was discovered from Motomiya movie theater of the warehouse. Because the state was also good, it will be screened in this the first time in 45 years. The copy at the time,  "Technique of the hug is discribed in color! You are stronger than horse! Peerless sex is bestowed by the hidden treasure! Lustful definitive edition! Epoch-making gorgeous epic film by brilliant colors!", these brave characters dance.
