extends layout/index

block title
  title 本宮映画劇場田村修司館主の語りと「ピンク映画いい場面コレクション」 - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='本宮映画劇場田村修司館主の語りと「ピンク映画いい場面コレクション」 - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 本宮映画劇場田村修司館主の語りと「ピンク映画いい場面コレクション」
    .aori
      p 9/19(月･祝) 12:05〜
      p 約50年前のピンク映画のいい場面を田村館主が編集して集めたコレクションの上映(40分間)とトーク(40分間)。
      p 本宮映画劇場で発掘された幻のピンク映画『好色日本性豪夜話』を上映。
    .film#motomiya
      h2
        .ja 【本宮映画劇場】
      .capture
        img(src='./images/motomiya2.jpeg')
        .credits
          p &copy;都築響一
      .desc
        p 1914年開館～1963年閉館。今年で102年を迎える。
        p 閉館から今現在も、田村修司館主が年代物のカーボン式映写機や当時の映画ポスター、劇場を守っている。
    .film#collection
      h2
        .ja ピンク映画いい場面コレクション2016
      .info
        p 2016年/日本/40min
      .desc
        p 約50年前の独立系映画プロダクションによって作られた、ピンク映画のいい場面を『ニュー･シネマ･パラダイス』のキス･シーンのように繋いだコレクションです。伝説的な作品を残した関孝二監督のあの映画のなど幻のフィルムからのいい場面集。
    .film#yawa
      h2
        .ja 好色日本性豪夜話
      .capture
        img(src='./images/yawa3.jpeg')
      .info
        p 1971年/日本/80min
        p 監督:図師巌
        p 脚本:星雅二、霧島左京
        p 動画監督:しま･のりひこ
        p 出演：林美樹、祝真理、椙山拳一郎、杉夕子
      .desc
        p アニメ映画史上もっとも謎に包まれていると言われる幻の映画で、本宮映画劇場の倉庫から発見された。状態も良好だったため、今回45年ぶりに上映される。当時の惹句には、「カラーで描く抱擁のテクニック！あなたは馬よりたくましい！秘宝が授けた絶倫のいとなみ！好色決定版！　絢爛の色彩で描く画期的豪華大作！」と、勇ましい文字が踊る。
