extends layout/index

block title
  title Innocent Prayer - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Innocent Prayer - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Innocent Prayer
    .aori
      p 9/18(Sun) 13:30
    img.max(src='./images/pray3.jpeg')
    .film#pray
      h2
        .ja Innocent Prayer
      .capture
        img(src='./images/pray.jpeg')
      .info
        p 2015 / Japan / 85min
        p Director, Screenplay: Toru Kamei
        p Original: Hirayama Yumeaki
        p Starring: Fukuda Miki, BB Goro, Ai Shimomura
      .desc
        p "Kill them all, I hope he kills everyone". Fumi is a miserable girl who is bullied at school, and is abused at home. In this world where only despair exist, the 10-year-old girl asked for help was a serial killer. Based on the novel by Yumeaki Hirayama. It is made into complete imaging in relentless contents.
    .film#talk
      h2
        .ja [Talk event] Yumeaki Hirayama  × Toru Kamei
      .pure-u-1-2
        img.max(src='./images/p1.jpeg')
      .pure-u-1-2
        img.max(src='./images/p2.jpeg')
      .pure-u-1-2
        .bio
          p Hirayama YumeAkira (original author)
          p He was born 1961 in Kawasaki Kanagawa. His debut work is "SINKER sink thing". "Universal wide Mercator who makes a monologue" ("this mystery is amazing! 2007" Domestic sector No.1), "DINER" (13th Oyabu Haruhiko Award). "missile man", "other people's affairs," "to discard the fat," "above the goat, below the monkey," and many others.
      .pure-u-1-2
        .bio
          p Toru Kamei (Director)
          p his director debut work is "Shinju Elegy" (Berlin Asia Pacific Film Festival Best Picture, Cinema Paradise Film Festival Best Picture).  "paradise - swept away -" "cub Mameshiba" series,  "Please be my slave." and many others. The latest work is "albino".
