extends layout/index

block title
  title ジャパン・プレミアム上映 無垢の祈り - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='ジャパン・プレミアム上映 無垢の祈り - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 ジャパン・プレミアム上映 無垢の祈り
    .aori
      p 9/18(日) 13:30〜
    img.max(src='./images/pray3.jpeg')
    .film#pray
      h2
        .ja 無垢の祈り
      .capture
        img(src='./images/pray.jpeg')
      .info
        p 2015年/日本/85min
        p 監督･脚本：亀井亨
        p 原作：平山夢明
        p 出演：福田美姫、BBゴロー、下村愛
      .desc
        p 「みんな、殺されちゃえばいいのに」学校ではイジメられ、家では虐待を受けるフミ。絶望だけが存在するこの世界で、１０歳の少女が救いを求めたのは連続殺人鬼だった。平山夢明の原作小説を容赦ない内容で完全映像化。
    .film#talk
      h2
        .ja 【トークイベント】平山夢明×亀井亨
      .pure-u-1-2
        img.max(src='./images/p1.jpeg')
      .pure-u-1-2
        img.max(src='./images/p2.jpeg')
      .pure-u-1-2
        .bio
          p 平山夢明（原作）
          p 1961年神奈川県川崎生まれ。「SINKER沈むもの」でデビュー。「独白するユニバーサル横メルカトル」（2007年度版「このミステリーがすごい!」国内部門一位）、「DINER」（第13回大藪春彦賞）。他に「ミサイルマン」「他人事」「デブを捨てに」「ヤギより上、猿より下」など多数。
      .pure-u-1-2
        .bio
          p 亀井亨（監督）
          p 『心中エレジー』（ベルリン･アジアーパシフィック映画祭最優秀作品賞、シネマパラダイス映画祭最優秀作品賞）で監督デビュー。他には『楽園 -流されて-』『幼獣マメシバ』シリーズ、『私の奴隷になりなさい』など多数。最新作は『アルビノ』。
