doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    title カナザワ映画祭オールタイム・ベスト結果発表
    link(rel='stylesheet', href='//yui.yahooapis.com/combo?pure/0.6.0/base-min.css&pure/0.6.0/grids-min.css&pure/0.6.0/grids-responsive-min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(href='./index.css', type='text/css', rel='stylesheet')
    meta(property='og:title', content='カナザワ映画祭オールタイム・ベスト結果発表')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/alltimebest/result.html')
    meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
    meta(property='og:description', content='カナザワ映画祭オールタイム・ベスト結果発表')
    meta(property='og:locale', content='ja_JP')
  body
    .wrapper
      header
        .pure-u-1-1.pure-u-sm-1-4.logo
          a(href='/')
            img(src='http://www.eiganokai.com/images/logo_s.jpg', alt='かなざわ映画の会')
        .pure-u-1-1.pure-u-sm-3-4
          .links
            a(href='/') ホーム
            a(href='/about') 団体概要
            a(href='/event') イベント
            a(href='/about/supporter.html') サポーター募集
            a(href='//eiganokai.blog.fc2.com/') ブログ
            a(href='/about/info.html') お問合わせ
      article
        a.link(href='./')
          h1 カナザワ映画祭オールタイム・ベスト
        a.link(href='/event/filmfes2016/alltimebest/result.html')
          h2 結果発表
        .comment
          p カナザワ映画祭10周年記念企画「オールタイム・ベスト投票」のご参加ありがとうございます。
          p 遅れましたが、投票結果を集計しましたので、下記に発表します。また併せて投票者の方にいただいた各コメントも掲載します。
          p 各投票の１位を３点、２位を２点として点数を合計し順位を付けました。
          p １位から１０位までの作品やイベントの実現に向けてこれから動いていきます。諸事情で実現できない場合もあるかもしれませんが、その場合は残念ですがご了承ください。
          p また、１０位以降の作品やイベントでも当方で再度やってみたい作品やイベントがいくつかあるので、主宰者権限で何とか実現させたいと考えています。
          p 今年もカナザワ映画祭は９月１７日（土）から２５日（日）まで開催予定です。
          p カナザワ映画祭２０１６をよろしくお願いいたします。
        h3 第1位 58点 ウォーターパワー アブノーマルスペシャル
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/waterpower.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc ウォーターパワーアブノーマルパワーをもう一度あの字幕で観ることが人生の目標です (24歳・男性)
          p.vc 名言・金言の連発に会場が笑いに包まれていたのを思い出します。正に内容的にアブノーマルなこの作品で、そのような会場風景が生まれるというのはカナザワ映画祭ならではだなあと思いました。 (31歳・男性)
          p.vc 珠玉の名言満載の『ウォーターパワー』を再びスクリーンで！！！ (32歳・男性)
          p.vc 「人類と浣腸は切っても切り離せない」「浣腸こそわが人生」「浣腸には重大な責任が伴う」「俺は浣腸の使者だ」など、名言の宝石箱でした。上映後の拍手喝采も良い思い出です。 (36歳・女性)
          p.vc 2011年から毎年参加させてもらっています。鑑賞した多くの作品はどれも甲乙つけ難く、たとえば過去に観たものでも、各年のテーマに沿ってそれまでと違った視点で愉しむことができましたが、その中でもあえて肛門フォーカスの二作品をベスト1と2に挙げました。 (39歳・男性)
          p.vc 映画が終わった瞬間、取り残された観客たちが一瞬の間をおいて笑い出した2012年の夏をもう一度味わいたいのです。 (31歳・男性)
          p.vc 他の映画祭や名画座ではお目にかかれない作品。奇跡のスクリーン鑑賞をもう一度！ (35歳・男性)
          p.vc ウォーター・パワーは見逃したけど、超面白いとの話を聞いたのでぜひ見たいです。 (30歳・女性)
          p.vc ドン引きと同時に大爆笑。忘れられないよね。地元で映画を見ても物足りないよ。スッゴイ嫌な気持ちで劇場を後にして、また次の日には劇場に足を運ぶ自分。いろんな自分に気付かされました。 (男性・34歳)
        h3 第1位 58点 クリスピン・グローヴァーのビッグ・スライドショウ
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/bigslideshow.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc 三作目が完成・公開の運ぶになり次第に、クリスピン・グローヴァー再来日・上映を期待します。 (53歳・男性)
          p.vc クリスピンの満員でチケット買えず観られなかったので是非。 (29歳・男性)
          p.vc クリスピン・グローヴァーの作品は本人がいないと出来ないので是非またやってもらいたいです！ (27歳・男性)
          p.vc お願いです！もう一回、グローヴァーさんを口説き落としてください！！ (32歳・男性)
          p.vc クリスピン・グローバーは三部作完成時にぜひ呼んでください (52歳・男性)
          p.vc クリスピン・グローヴァーの『It Is Fine! Everything Is Fine』を見たのがカナザワ映画祭にのめりこんだきっかけ、愛おしい作品 (40歳・男性)
          p.vc  とにかく観たい。敢えてもう一度。とにかく観たいです！！ (32歳・男性)
          p.vc It Is Fine! Everything Is Fine.がとても見たいです！ (21歳・男性)
          p.vc ビッグスライドショーの二日目にフィルムが溶けてましたが、そのあとのサイン会でクリスピングローバーが機嫌悪そうだったのが印象に残ってます。 (48歳・男性)
          p.vc ビッグ・スライドショウを見逃してしまったくやしさが、翌年から毎年9月に金沢を訪れるきっかけになったと言ってもいいでしょう。可能ならぜひとも観たいです。 (35歳・男性)
          p.vc 自分の人生における後悔ランキングのトップクラスに位置しているのが、ビッグ・スライドショーを見逃した事なんで、再映されたら昇天します。 (39歳・男性)
        h3 第2位 58点 シェラ・デ・コブレの幽霊
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/sierra.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc シェラ・デ・コブレの幽霊は映画祭を知る前の上映だったので是非とも観たい！ (42歳・女性)
          p.vc シェラ・デ・コブレの幽霊を劇場で観たい (51歳・男性)
        h3 第3位 46点 【トークイベント】本宮映画劇場田村修司館主の語りと「ピンク映画いい場面コレクション」
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/motomiya.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc バクモンを見て本宮映画館に興味を持ちました (44歳・女性)
          p.vc いい場面コレクションはいろんな意味ですごかった！ (51歳・男性)
          p.vc バクモンを見て感動しました (46歳・女性)
          p.vc トークもカナザワならでは！！ (46歳・男性)
          p.vc ピンク映画また見たい！ (30歳・男性)
          p.vc 館主の登壇する姿をまた見たいです！ (39歳・女性)
        h3 第4位 43点 孤高の遠吠
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/kokou.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc 2015年に初めて参加しました。もう一度、小林監督作品が観たい。 (50歳・女性)
          p.vc いつ行けるかわからないけど、小林勇貴にデッかくなってもらいたいので、推します！ (52歳・女性)
          p.vc この映画で映画祭を経験してみたいです！！ (30歳・女性)
          p.vc 激しいゲリラ撮影、衝撃的な二作品　せひみたいです (57歳・男性)
          p.vc 富士宮の田舎臭さと治安の悪さが生んだ焼きそばウエスタン映画 (25歳・男性)
        h3 第5位 35点 ロッキー・ホラー・ショー
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/rhs.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc 今年こそ行きたいと思っているのでロッキーホラーショーお願いいたします。 (43歳・女性)
          p.vc LIP'Sです！どーしてもまたカナザワでロッキー・ホラーがみたいです！ (38歳・女性)
          p.vc カナザワ映画祭でのロッキーホラーショーは夢のような体験でした。あのスモークや客席の前や通路までお客さんが溢れていた、あの光景、今でも脳裏に焼きついています。是非再上映をお願いします!! (27歳・女性)
          p.vc ロッキー・ホラー・ショーは会場の雰囲気含め、最高の映画体験でした！ (30歳・女性)
          p.vc ロッキー・ホラー・ショー、ビール買っていくのでやらせてください！（パフォーマーより） (25歳)
        h3 第6位 25点 狂い咲きサンダーロード
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/crazy.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc 孤高の遠吠と組み合わせで観てみたい (47歳・男性)
          p.vc 孤高の遠吠と並べてみてみたいと思いますよ (55歳・男性)
          p.vc 初めて観たとき強烈な印象を受けました。観てから何年も経ちますが頭から離れません。また観たいです。（出来れば爆音で） (28歳・男性)
        h3 第7位 21点 炎/628
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/fire628.png')
        .pure-u-1-1
          h4 投票コメント
          p.vc カナザワ映画祭で出会えたからこそ、という興奮がありました。 (33歳・男性)
        h3 第8位 20点 カランバ
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/caramba.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc カランバは、初参加の年だったのですが、トークショーメインで参加したため、見逃した作品が多くカランバもその１本なのでこのきかいに是非観たいです！ (44歳・男性)
          p.vc 変態画家の怪奇映画 『縄と犬と人妻』をもう一度観たいのですが、やっぱりカランバ！ (47歳・男性)
          p.vc カランバ上映なら金沢まで行きます！ (47歳・男性)
          p.vc 田舎ドキュメンタリー最高！ (28歳・男性)
        h3 第9位 17点 ハッピーアイランド
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2013/images/happy.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc ハッピーアイランドは衝撃でした　アマチュア監督作でありながら、その年の作品のどれよりも抜群に面白かったです　見逃して悔しがっていた友人にも是非見て欲しいと思い投票しました！ (44歳・男性)
          p.vc ハッピーアイランドを再上映するなら、万難を排して金沢に行きます！ (47歳・男性)
          p.vc ハッピーアイランドは気分を悪くしたお客様がロビーに倒れていたとか、、、どんだけ凄いんだ！ (35歳・男性)
        h3 第9位 17点 ティングラー
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/tingler.jpg')
        .pure-u-1-1
          h4 投票コメント
          p.vc ウィリアム・キャッスルは何度でも。 (29歳・男性)
          p.vc 会場参加ものとして定番のロッキーホラー以上に記憶に残るティングラー (45歳・男性)
          p.vc イベント的な楽しさは、やっぱりティングラーが最高でした (44歳・男性)
        h3 第9位 17点 恐怖の報酬
        .pure-u-1-1.pure-u-sm-3-4.visual
          img(src='http://www.eiganokai.com/event/filmfes2016/alltimebest/images/kyofu.png')
        .pure-u-1-1
          h4 投票コメント
          p.vc 恐怖の報酬は予備知識なしに観ました。冒頭の焼死体のアップから雷雨の中の橋渡り等、シーン毎の印象が強烈に頭に焼きついています。タンジェリンドリームのテーマが頭から離れません。目立った映画では無いのかもしれませんが、自分にとっては衝撃の映画体験でした。 (26歳・男性)
        h3 10位以降〜
        ul
          li
            .bold 10位 【トークイベント】町山智浩×宇多丸×高橋ヨシキ(バイオレンス・トーク)
            ul
              li トークショーはまたこの三つ巴で２時間はやってほしいです！ (37歳・男性)
              li 御三家のトークを再び！ (21歳・男性)
          li
            .bold 10位 【トークイベント】小林勇貴×鈴木智彦(孤高の遠吠プレミア上映)
            ul
              li 小林監督と鈴木智彦さんのトークが一番面白い！ (44歳・女性)
          li
            .bold 11位 AKIRA
            ul
              li AKIRAは都合がつかず観れなくて今でも悔いが残ってるので是非！ (37歳・男性)
              li 以前DVDで観た時から爆音で観たら最高に違いないと思っていた (23歳・男性)
          li
            .bold 11位 ファントム・オブ・パラダイス
            ul
              li ファントムforever! (54歳・男性)
          li
            .bold 11位 無人区
            ul
              li 中国大陸映画の素晴らしさをもう一度味わいたい。 (35歳・男性)
          li
            .bold 12位 悪魔のいけにえ ４Kヴァージョン
            ul
              li 爆音上映によって本作が持つ怖さのエッセンスが完全な形で露わになったと思います。映画を見ていて心底怖い思いをするというのは、大人になってからは初めてだったかもしれません。 (31歳・男性)
          li
            .bold 12位 NIGHT SAFARI
          li
            .bold 12位 スペッターズ
            ul
              li スペッターズの無修正デカチンコをもう一度。 (35歳・男性)
              li 「スペッターズ」は、ポルノじゃなく一般映画なのに男同士でのチンポ吸いシーンがあり、衝撃でした。さすがバーホーベン先生。オランダ映画の性描写のユルさにもあっぱれです。 (36歳・女性)
              li ヴァンホーベンの未公開映画としても最高に楽しめました (39歳・男性)
          li
            .bold 13位 マッドマックス２
          li
            .bold 13位 地下幻燈劇画 少女椿
          li
            .bold 14位 ジェイコブス・ラダー
            ul
              li ジェイコブスラダーはあの地獄絵図を爆音で観れたら絶対最高。 (21歳・男性)
          li
            .bold 15位 ソドムの市
            ul
              li 爆音とスクリーンで初めて観た「ソドムの市」は自分をとんでもない世界に連れて行かさました。大統領がアレをとてもおいしそうに食べるシーンは脳裏に焼きついています。これからもとんでもない世界に連れて行ってください！ (27歳・男性)
          li
            .bold 15位 【トークイベント】宇多丸×高橋ヨシキ(Brave New World Order!!)
          li
            .bold 15位 ショーガール
          li
            .bold 16位 【トークイベント】稲生平太郎×高橋洋(オカルト対談)
            ul
              li 開幕早々何の説明もなく突然見せられた、「Amman」というインド映画の１シーンが忘れられない。ぜひもう1度（できれば全編）見たい（字幕つけてね）。 (34歳・男性)
          li
            .bold 16位 【トークイベント】平山夢明×宇多丸×高橋ヨシキ(バトルトーク2010)
          li
            .bold 16位 霧
            ul
              li モノクロ版「霧」。色がないぶん、あらゆる要素がよりビビッドに感じられて大興奮。「MAD MAX 」のモノクロ版も本当に公開してくれ！ (46歳・男性)
          li
            .bold 17位 恐怖女子高校 女暴力教室
            ul
              li 上映後に会場から自然と沸き起こった大拍手は忘れがたい経験 (40歳・男性)
          li
            .bold 17位 スカーフェイス
          li
            .bold 17位 吸血鬼ゴケミドロ
          li
            .bold 17位 ロスト・ハイウェイ
          li
            .bold 18位 爆裂都市 Burst City
          li
            .bold 18位 マンディンゴ
          li
            .bold 18位 インフェルノ 蹂躙
            ul
              li 高橋洋！！！！！！！！ (25歳・男性)
          li
            .bold 18位 ポゼッション デジタルニューマスター版
            ul
              li 高校生になったので、今年は参加させてもらいます！ポゼッションは、それほど好きではないのですが、監督R.I.P.ということで (15歳・男性)
          li
            .bold 18位 ブラックホーク・ダウン
          li
            .bold 18位 先生を流産させる会
          li
            .bold 19位 ファイト・クラブ
            ul
              li 正確に言えば、「時計仕掛けのオレンジ」「スカーフェイス」から続けての〆としてのこの作品がベスト。映画館帰りでこれほど昂揚したのは初めてでした。 (29歳・男性)
          li
            .bold 19位 復讐 運命の訪問者
          li
            .bold 19位 餌食
            ul
              li 大好きな「餌食」をスクリーンで見たいです！ (20歳・男性)
          li
            .bold 19位 ゼイ・コール・ハー・ワン・アイ
          li
            .bold 19位 シャイニング
          li
            .bold 19位 へんげ
          li
            .bold 19位 アポカリプト
        h3 その他コメント
        p.vc 10周年おめでとうございます！ (38歳・男性)
        p.vc たのしみです(*´ー｀*) (19歳・女性)
        p.vc 爆音上映でいろいろ観たいです。 (38歳・女性)
        p.vc 松本人志4本立てをやってください。 (47歳・男性)
        p.vc Witnessed!!!!! (38歳・男性)
        p.vc まだ２回しか参戦経験のない新参者ではあるが、2014、2015年と過度にマニアックにならずかといって有名作品のみにならない作品選びに驚嘆した。映画ファンが思わず吸い寄せられてしまう土壌や空気の醸成は他の県ではなし得ないのではないだろうか。映画祭代表の小野寺さんをはじめスタッフの方々の並々ならぬ努力に賛辞を贈りたい。作品リクエストはベストやリバイバル以外にも枠があると嬉しい。どうしても死ぬまでに爆音で観ておきたい作品は、【ロボコップ】【トータルリコール】【インビジブル】ヴァーホーベン特集２と銘打った３作品。ジャックショルダー監督【ヒドゥン】。これが爆音で観れたらもう思い残す事はない。 (39歳・男性)
        p.vc 映画観の幅を広げてくれる意義あるイベントだと思っています。これからも頑張ってください。 (35歳・男性)
        p.vc ここ3年ほど行けてませんが、10周年には必ず駆けつけます！ただどうしても宿がネックになるので、スケジュールが決まったら早めのアナウンスをお願いします。 (52歳・男性)
        p.vc 「死化粧師オロスコ」は見逃してしまったので再度上映いただければ、とてもありがたいです。また、「少女椿」や「ティングラー」のような、観客参加型上映をお願いしたいです。ウィリアム・ガードラー、増村保造、ホドロフスキーなどの監督特集や、戦前ドイツ表現主義映画特集が見てみたいです。 (36歳・男性)
        p.vc DVDでも見れない映画はカナザワに任せろ！的に進んでほしい。今後はカナザワ映画祭出張版in東京をやってほしい。東京から有給と交通費と宿泊費を使って向かうのには年齢的にそろそろ限界がきているので。 (45歳・トランスジェンダー)
        p.vc １０周年おめでとうございます。 (29歳・女性)
        p.vc 今年は行けそうだから、楽しみにしています。 (36歳・男性)
        p.vc 今年も期待してます (28歳・男性)
        p.vc カナザワ映画祭10周年おめでとうございます (48歳・女性)
        p.vc カナザワ映画祭でないともう二度とスクリーンでは見られない映画がいっぱいあった。今度は是非80年代後半から90年代にヘラルドやジョイパック、松竹富士、東宝東和、東映クラシックが東京の小さな小さなコヤで上映した映画群の中から埋もれている傑作を上映してほしい。 (48歳・男性)
        p.vc 今年も楽しみにしています。 (49歳・男性)
        p.vc カナザワ映画祭のおかげでホラー童貞を捨てることができました。ありがとうございます。 (26歳・男性)
        p.vc 石川県民自慢の「金澤」的なるものとまったく別もの…という意味でもとても素晴らしい会だと思っております。これからも「この調子」を崩さず、いろんな意味でエグい映画祭を継続して言ってください。応援してます。 (34歳・男性)
        p.vc いつもトークショーを楽しみにしています (41歳・男性)
        p.vc 毎年、満喫させてもらってます！　今年も楽しみ！ (38歳・男性)
        p.vc 『コミック雑誌なんかいらない！』上映、裕也さんと滝田監督のトーク。カナザワ映画祭なら実現できる！京都国際映画祭2015の『エロティックな関係』上映で観客10数人、裕也さんの「俺の人気がないのかもね」…このままじゃ寂し過ぎます。 (45歳・男性)
        p.vc これからも面白い映画を上映してください！ (56歳・男性)
        p.vc まだカナザワ映画祭に行ったことはないですが、今年機会があれば行きたいです。頑張ってください (14歳・男性)
        p.vc カナザワ映画祭中、合間に金沢の街をぶらつくのも大好きです。（主にオヨヨ書林か宇宙軒食堂）思い出はポルノ特集の年、シンポジウムに突如、金沢市長が登壇。会場が一瞬だけ「親や先生にバレた！！」というような空気になり、そして市長も戸惑いながら喋る様子に「よりよって何でポルノ特集の年に…」と会場中誰もが思っだであろうと同時に金沢市の懐の深さを感じました。 (33歳・男性)
        p.vc おそらく、題材の統一がないので、上映のバランスが難しそうだな、と。頑張って下さい応援してます！ (31歳・男性)
        p.vc 選ぶのが大変です。観たい作品が10個ぐらい有ります。(*>_<*) (33歳・男性)
        p.vc 『クトゥルーの呼び声』も、もう一度観たいです。『アレキサンダー』のファイナルカット版と、2007年のプログラムにあった『そんな無茶な！』の上映も検討をお願いします。 (37歳・男性)
        p.vc 今年こそは参加するぞー (47歳・男性)
        p.vc 応援しております！ (37歳・女性)
        p.vc 久しぶりにフィルム上映でお願いします！！！！！！ (40歳・男性)
        p.vc 狂えるだけ狂ってください。お供させていただきます。 (27歳・男性)
        p.vc 応援しております。結果が楽しみです。 (49歳・男性)
        p.vc １０周年にふさわしい上映作品をお願いします。ベスト３まで選択したかったです。 (51歳・男性)
        p.vc デビッド・ボウイ出演作品が今迄上映されていませんね。地球に落ちてきた男などはカナザワ映画祭的と思いますが。 (50歳・女性)
        p.vc カナザワ映画祭バンザイ！ (39歳・男性)
        p.vc 普段なかなか観れないレア作品を希望します。 (51歳・男性)
        p.vc 金沢が行きやすくなったので、今迄以上に良い意味で軽く観に行けるのが嬉しいです。イカれた映画祭を楽しみにしています。 (45歳・男性)
        p.vc 去年のキングコング野外上映最高でした。今年も楽しみにしてます。 (30歳・男性)
        p.vc 10周年おめでとうございます。今後とも出来るだけ参加したいと思っています。大変だとは思いますが頑張って下さい。 (39歳・男性)
        p.vc これからも過激なプログラム期待しております！ (55歳・男性)
        p.vc ゾンビ映画祭をやって欲しいです。 (21歳・男性)
        p.vc 毎回1,2本が限度ですが毎年楽しみにしております。頑張ってください！ (50歳・男性)
        p.vc 爆音トロマとかみたいです (28歳・男性)
        p.vc 2011年からお邪魔してます。ベストを選ぶのは非常に難しかったですが、上記2本をあげました。お金にはならないかもしれませんが野外上映でみた作品はどれも思い出深くあります。当日は福島から、現在は東京へ移り住みましたが、今年も参加したいと思います。何回か前のアンケートで爆音で観たい映画にロストハイウェイを記入した翌年に上映されたときはとてもうれしかったです。あとロッキーの初体験もカナザワでした。言いたいことはまだまだ多いですが、今年も楽しみにしています！コマタ (43歳・男性)
        p.vc カナザワ映画祭では毎年、面白い作品に出逢わせて頂いているので今年も沢山観たいです (17歳・男性)
        p.vc 気が早いですが、10周年おめでとうございます！今年も、楽しみにしています。 (45歳・男性)
        p.vc 日本一ハードな映画祭だと思います。今年も全日程全プログラム参加するつもりなのでよろしくお願いします。スタッフの皆さん体調崩されませんように。 (20歳・男性)
        p.vc 10周年おめでとうございます。去年念願叶って初めて参加し、とても楽しかったです。過去にバタリアンを上映されたとの事で、私の子供の頃に本気で存在を信じたバタリアンを是非今年観てみたいので投票します。今年も楽しみにしております。長々と失礼しました。 (34歳・女性)
        p.vc 石井輝男、シベ超が見たいです。 (38歳・男性)
        p.vc 10周年おめでとうございます。狂ったプログラムに毎度シビレております。 (45歳・男性)
        p.vc 映画をスクリーンで見る楽しさを感じる映画祭なので、楽しみにしてます。でも、年々スタッフがピリピリして怖いなぁ (42歳・女性)
        p.vc 『ガールズ＆パンツァー 劇場版』を爆音で上映してほしいです。アニオタ向け作品ですが、とても素晴らしい出来で、『マッドマックス 怒りのデス・ロード』を上回ります。なぜ『映画秘宝』でベスト10に入らないのか不思議なくらい。 (42歳・男性)
      footer
        p Copyright &copy; 2007-2016, Kanazawa-Eiga-no-kai All rights reserved.
