extends layout/index

block title
  title LIP'Sプレゼンツパフォーマンス上映 ロッキー・ホラー・ショー - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    h1 LIP'Sプレゼンツパフォーマンス上映 ロッキー・ホラー・ショー
    .aori
      p カナザワ映画祭史上最多動員を記録した前回上映から早3年。都ホールが再びバラ色に染まる時がやってきた！ 今回もロッキー・ホラー・ショーファンクラブLIP’Sが初体験の皆さんをグイグイ優しくリードします！
      p
        | LIP'SのFBページ
        a.dottedAnchor(href='https://www.facebook.com/rhps.lips') www.facebook.com/rhps.lips
    .film#rhs
      h2
        .ja ロッキー・ホラー・ショー
        .en THE ROCKY HORROR PICTURE SHOW
      .capture
        img(src='./images/rhs.png')
        .credits
          p &copy;HOLLYWOOD CLASSICS, ©20TH CENTURY FOX 
      .info
        p 1975年/イギリス/100min
        p 監督･脚本：ジム･シャーマン
        p 出演：ティム･カリー、スーザン･サランドン、ミート･ローフ、リチャード･オブライエン
      .desc
        p カルト映画のクラシック。観客のこの映画に対する支持は絶大で、常に世界中のどこかで上映されているほどだ。現在までの興行収入は製作費の軽く100倍を稼ぎ出している。ある古城を訪ねたカップルが巻き込まれる奇怪な体験をロック･ミュージカルとして描いているが、この作品はただ見ても仕方がない、参加して体験せよ！
