extends layout/index

block title
  title LIP'S Presents "Rocky Horror Picture Show" performance screening - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='LIP\'S Presents "Rocky Horror Picture Show" performance screening - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 LIP'S Presents "Rocky Horror Picture Show" performance screening
    .aori
      p 9/23(Fri) 21:00
    .film#rhs
      h2
        .ja THE ROCKY HORROR PICTURE SHOW
      .capture
        img(src='./images/rhs.jpeg')
        .credits
          p &copy;HOLLYWOOD CLASSICS, &copy;20TH CENTURY FOX 
      .info
        p 1975 / United Kingdom / 100min
        p Director, Screenplay: Jim Sherman
        p Starring: Tim Curry, Susan Sarandon, Meat Loaf, Richard O'Brien
      .desc
        p(style='margin-bottom: 2em;') Classic of cult movie. The audience continue to  tremendous support for this movie, it always has been screened at somewhere around the world. Box office to date has earned more than 100 times of the production costs. Although it depicts a bizarre experience that couples who visited a old castle is involved as a rock musical, it is not fun just see this movie. Join and experience!
        p * How to enjoy the Rocky Horror Picture Show
        p(style='margin: 0;') Early three years from the recorded previous screening that Kanazawa Film Festival largest ever mobilization.
        p(style='margin: 0;') ... It is time when Miyako hall dyed rosy again!
        p(style='margin: 0;') Also this time Rocky Horror Picture Show fan club "LIP'S" will aggressive and gently lead you who the first time experience!
        p ■ only this rule
        p(style='margin: 0;') Water, rice, fire, are strictly prohibited
        p(style='margin: 0;') Toss just above when you throw things
        p(style='margin: 0;') * Instead, throw in just above the confetti and toilet paper is OK.
        p ■ Are nice to do that?
        p(style='margin: 0;') It's fine. Singing and dancing along with the progression of the story, sometimes (or much of) said "come on!" is participatory screening fanon.
        p ■ What is "time warp"?
        p(style='margin: 0;') Why dance in the Rocky Horror has been important.
        p(style='margin: 0;') There is also choreography lecture of LIP'S, ayrone can dance easily.
        p ■ How to use props
        p(style='margin: 0;') ・newspaper
        p(style='margin: 0;') In the rain, a scene toward the castle.
        p(style='margin: 0;') A character wear a newspaper instead of the umbrella, so we will wear it together.
        p ・Pen light or psyllium
        p(style='margin: 0;') “There’s a Light”
        p(style='margin: 0;') Since stupid couple sing ~We can see the light!"", let's raise shiny stuff instead of lighter. It is OK, even the monitor of the smartphone.
        p ・Confetti
        p(style='margin: 0;') Any time OK when you got excited.
        p(style='margin: 0;') We must do it while the scene that Frank and Rocky disappear into the bedroom in the wedding!
        p ・Cracker
        p(style='margin: 0;') It is OK, If you feel "Wow!"
        p ・Noise maker
        p(style='margin: 0;') When the timing that guests play the rattle sound, let's ring together.
        p ★ access to LIP'S of FB page If you need to know more.
        p(style='margin: 0;')
          a.dottedAnchor(href='https://www.facebook.com/rhps.lips', target='_blank') www.facebook.com/rhps.lips
        p So we're looking forward to seeing you at the venue!
        p(style='margin: 0;') Let's do the time warp again!
        p LIP'S chairman Arthur Takehara
        p
          img(
            src='./images/lips.jpeg'
            style='width: 40%;'
          )
