extends layout/index

block title
  title Riot movie - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Riot movie - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Riot movie
    .aori
      p Let's go to town, act violently!
      p Do not buy the bread!
      p Did you understand? Do not buy the bread!
      p Buy the dynamite!
    .film#fight
      h2
        .ja Fight Club
      .capture
        img(src='./images/fight.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1999 / USA / 139min
        p Director: David Fincher
        p Starring: Brad Pitt, Edowato Norton, Helena Bonham Carter
      .desc
        p Men who bored consumer society of high capitalism gathered to a charisma, they scheme project "Mayhem". This film is riot movie predicted the Millennium of the beginning "911" by the collapse of the high rise building. From opening title role that arouse adrenaline till end role flowing "Where is My Mind?"(song by the Pixies) are full roar effect.
    .film#yamaya
      h2
        .ja YAMA - ATTACK TO ATTACK-
      .capture
        img(src='./images/yamaya.jpeg')
      .info
        p 1985 / Japan / 110min
        p Director: Mitsuo Sato Yamaoka Kyoichi
      .desc
        p Sanya is a town of laborers, they fight the gangsters. The gangsters identified himself emperor principle right wing, they try to violently dominate and integrate workers. To the axis of the laborers and gangsters fight, this documentary film revealed the discrimination and governance structure that has been created in Japan modernization. Sato Mitsuo(Director) was killed during the shooting of this film, also Yamaoka Kyoichi who succeeded Sato's intention was killed. They were killed by a gangster who opposing the laborers.
        p This film from it begins that death of Sato and the riots of the counterattack.
    .film#charisma
      h2
        .ja CHARISMA
      .capture
        img(src='./images/charisma.jpeg')
        .credits
          p &copy;1999 Nikkatsu　King record　Tokyo Theatres Company
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 2000 / Japan / 104min
        p Director, Screenplay: Kiyoshi Kurosawa
        p Music: Gary Ashiya
        p Starring: Koji Yakusho, Hiroyuki Ikeuchi, Osugi Ren
      .desc
        p "Charisma" that would kill the trees all around. Two populations compete around "Charisma". One day, a vagabond appeared there. Regulations of society become rigid, finally it cause the conflict of populations. And what happens then? This film like the thought experiment. Attention to the answer to be derived in the last, "cure the law of the world."
    .film#theylive
      h2
        .ja They Live
      .capture
        img(src='./images/theylive.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1988 / USA / 93min
        p Director and Music: John Carpenter
        p Starring: Roddy Piper, Keith David
      .desc
        p The world has been dominated by the guys. They control the society of the central, domesticate the masses and exploit them. A homeless got the sunglasses to reveal the identity of society, he start a revolution. "Kill them all !" What this film describe already has become a reality now.
