extends layout/index
block title
  title スケジュール - カナザワ映画祭2016｜かなざわ映画の会
block body
  #schedule
    h1 スケジュール
    .info
      p
        | 会場:
        a.dottedAnchor(href='http://www.miyakohotels.ne.jp/kanazawa/banquet/place/seminar_hall/index.html') 金沢都ホテル B2F セミナーホール（旧ロキシー劇場）
        span 石川県金沢市此花町6-10
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/17(土)
          td 9/18(日)
          td 9/19(月・祝)
      tbody
        tr
          td
            p 10:30
            p.title
              a.dottedAnchor(href='./yuyaisback.html#pool') 水のないプール
            p.time (103min)
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./yuyaisback.html#82') ワニ分署
            p.time (96min)
          td
            p 10:30
            p.title
              a.dottedAnchor(href='./pink.html#yawa') 好色日本性豪夜話
            p.time (80min)
        tr
          td
            p 12:30
            p.title
              a.dottedAnchor(href='./yuyaisback.html#comic') コミック雑誌なんかいらない！
            p.time (124min)
          td
            p 11:50
            p.title
              a.dottedAnchor(href='./yuyaisback.html#prey') 餌食
            p.time (80min)
          td.lightgreen
            p 12:05
            p.title
              a.dottedAnchor(href='./pink.html#collection') 本宮映画劇場トーク＋いい場面
            p.time (90min)
        tr
          td.lightgreen(rowspan='2')
            p 14:50
            p.title
              a.dottedAnchor(href='./yuyaisback.html#works') 内田裕也×モブノリオ トーク+YUYA WORKS
            p.time (90+70min)
          td.lightgreen
            p 13:30
            p.title
              a.dottedAnchor(href='./pray.html#pray') 亀井×平山トーク+無垢の祈り
            p.time (85+60min)
          td
            p 14:00
            p.title
              a.dottedAnchor(href='./boysbeanarchy.html#if') if もしも....
            p.time (112min)
        tr
          td
            p 16:15
            p.title
              a.dottedAnchor(href='./tomoshibi.html#happyisland') ハッピーアイランド
            p.time (77min)
          td
            p 16:15
            p.title
              a.dottedAnchor(href='./boysbeanarchy.html#thunder') 狂い咲きサンダーロード
            p.time (98min)
        tr
          td
          td.lightgreen
            p 17:50
            p.title
              a.dottedAnchor(href='./tomoshibi.html#tomoshibi') 燈火+清川×檜垣トーク
            p.time (81+60min)
          td
            p 18:15
            p.title
              a.dottedAnchor(href='./boysbeanarchy.html#akira') AKIRA
            p.time (124min)
        tr
          td.lightred(rowspan='2')
            p 19:00
            p.title
              a.dottedAnchor(href='./furyroad.html#furyroad') マッドマックス怒りのデス・ロード 野外上映
            p.time (120min)
            p.time (※入場無料)
          td
            p 20:25
            p.title
              a.dottedAnchor(href='./caramba.html#caramba') カランバ
            p.time (93min)
          td
            p 20:35
            p.title
              a.dottedAnchor(href='./boysbeanarchy.html#legend') ビリー・ジーンの伝説
            p.time (95min)
        tr
          td.lightblue
            p 23:00
            p.title
              a.dottedAnchor(href='./tobe.html') オールナイト爆音 トビー・フーパー
            p.time (終演6：30)
          td
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/20(火)
          td 9/21(水)
          td 9/22(木・祝)
      tbody
        tr
          td
            p 11:00
            p.title
              a.dottedAnchor(href='./avantgradeero.html#rouges') 闇の乙女
            p.time (100min)
          td
            p 11:00
            p.title
              a.dottedAnchor(href='./cooljapan.html#killer') キラーエリート
            p.time (116min)
          td
            p 10:30
            p.title
              a.dottedAnchor(href='./cursed.html#macbeth') マクベス
            p.time (140min)
        tr
          td
            p 12:55
            p.title
              a.dottedAnchor(href='./avantgradeero.html#vampyros') ヴァンピロス・レスボス
            p.time (89min)
          td
            p 13:10
            p.title
              a.dottedAnchor(href='./cooljapan.html#challenge') ザ・チャレンジ
            p.time (108min)
          td
            p 13:05
            p.title
              a.dottedAnchor(href='./cursed.html#ninth') トゥインクル・トゥインクル・キラーケーン
            p.time (118min)
        tr
          td
            p 14:40
            p.title
              a.dottedAnchor(href='./avantgradeero.html#eden') エデン、その後
            p.time (98min)
          td
            p 15:10
            p.title
              a.dottedAnchor(href='./war.html#1941') 1941
            p.time (118min)
          td
            p 15:20
            p.title
              a.dottedAnchor(href='./cursed.html#exorcist') エクソシスト3
            p.time (110min)
        tr
          td
            p 16:35
            p.title
              a.dottedAnchor(href='./avantgradeero.html#lip') 紅い唇
            p.time (87min)
          td
            p 17:20
            p.title
              a.dottedAnchor(href='./war.html#yamato') 戰艦大和
            p.time (104min)
          td.lightgreen(rowspan='2')
            p 17:30
            p.title
              a.dottedAnchor(href='./cursed.html#talk') 映画の生体解剖トーク 稲生平太郎×高橋ヨシキ×高橋洋
            p.time (90min)
        tr
          td
            p 18:20
            p.title
              a.dottedAnchor(href='./avantgradeero.html#eyes') アイズ・ワイド・シャット
            p.time (159min)
          td
            p 19:20
            p.title
              a.dottedAnchor(href='./avantgradeero.html#corrida') 愛のコリーダ
            p.time (109min)
        tr
          td
            p 21:15
            p.title
              a.dottedAnchor(href='./avantgradeero.html#water') ウォーターパワー
            p.time (66min)
          td.lightblue(rowspan='2')
            p 22:00
            p.title
              a.dottedAnchor(href='./countryhorror.html') オールナイト 田舎ホラー大全科 第二集
            p.time (終演6：30)
          td
            p 19:20
            p.title
              a.dottedAnchor(href='./cursed.html#mabuse') マブゼ博士の遺言
            p.time (112min)
        tr
          td
          td
            p 21:40
            p.title
              a.dottedAnchor(href='./cursed.html#will') 意志の勝利
            p.time (111min)
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/23(金)
          td 9/24(土)
          td 9/25(日)
      tbody
        tr
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./riot.html#yamaya') 山谷 やられたらやりかえせ
            p.time (110min)
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./war.html#ryan') プライベートライアン
            p.time (170min)
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./war.html#apocalypse') 地獄の黙示録
            p.time (147min)
        tr
          td
            p 12:10
            p.title
              a.dottedAnchor(href='./riot.html#fight') ファイトクラブ
            p.time (139min)
          td
            p 13:05
            p.title
              a.dottedAnchor(href='./war.html#628') 炎628
            p.time (143min)
          td.lightgreen(rowspan='3')
            p 12:45
            p.title
              a.dottedAnchor(href='./newhope.html') 期待の新人監督
            p.title 狂える世界のためのレクイエム
            p.time (88min)
            p.title さいなら、BAD SAMURAI
            p.time (61min)
            p.title 花に嵐
            p.time (76min)
            p.title 授賞式
        tr
          td
            p 14:50
            p.title
              a.dottedAnchor(href='./riot.html#charisma') カリスマ
            p.time (104min)
          td
            p 15:45
            p.title
              a.dottedAnchor(href='./war.html#steiner') 戦争のはらわた
            p.time (133min)
        tr
          td
            p 16:50
            p.title
              a.dottedAnchor(href='./riot.html#theylive') ゼイリブ
            p.time (93min)
          td.lightgreen(rowspan='2')
            p 18:20
            p.title
              a.dottedAnchor(href='./hardcorehenry.html') HARDCORE HENRY+監督トーク
            p.time (97+60min)
        tr
          td
            p 18:40
            p.title
              a.dottedAnchor(href='./cursed.html#salo') ソドムの市
            p.time (116min)
          td.lightorange(rowspan='3')
            p 18:30
            p.title
              a.dottedAnchor(href='./bigslideshow.html#what') ビッグ・スライドショウ What is it?
            p.time (150min)
        tr
          td
            p 21:00
            p.title
              a.dottedAnchor(href='./rhs.html#rhs') ロッキー・ホラー・ショー
            p.time (100min)
          td.lightorange(rowspan='2')
            p 21:30
            p.title
              a.dottedAnchor(href='./bigslideshow.html#fine') ビッグ・スライドショウ It is Fine! Everything is Fine.
            p.time (150min)
