extends layout/index

block title
  title Schedule - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Schedule - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #schedule
    h1 Schedule
    .info
      p
        | Venue:
        a.dottedAnchor(href='http://www.miyakohotels.ne.jp/kanazawa/banquet/place/seminar_hall/index.html', target='_blank') Kanazawa Miyako Hotel B2F Seminar Hall (formerly Roxy Theatre)
        span Konohanamachi 6-10, Kanazawa, Ishikawa
    table.pure-table.pure-table-bordered
      thead
        tr
          td.dateblue 9/17(Sat)
          td.datered 9/18(Sun)
          td.datered 9/19(Mon)
      tbody
        tr
          td
            p 10:30
            p.title
              a.dottedAnchor(href='./yuyaisback.html#pool') A Pool without Water
            p.time (103min)
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./yuyaisback.html#82') Super Gun Lady: Police Branch 82
            p.time (96min)
          td
            p 10:30
            p.title
              a.dottedAnchor(href='./pink.html#yawa') Sensuality Japanese sexual prodigy night story
            p.time (80min)
        tr
          td
            p 12:30
            p.title
              a.dottedAnchor(href='./yuyaisback.html#comic') Comic Magazine
            p.time (124min)
          td
            p 11:50
            p.title
              a.dottedAnchor(href='./yuyaisback.html#prey') The Prey
            p.time (80min)
          td.lightgreen
            p 12:05
            p.title
              a.dottedAnchor(href='./pink.html#collection') Talk show of Motomiya movie theater's master
            p.time (90min)
        tr
          td.lightgreen(rowspan='2')
            p 14:50
            p.title
              a.dottedAnchor(href='./yuyaisback.html#works') Yuya Uchida × Mob Norio talk show /YUYA WORKS
            p.time (90+70min)
          td.lightgreen
            p 13:30
            p.title
              a.dottedAnchor(href='./pray.html#pray') Talk show / Innocent Prayer
            p.time (85+60min)
          td
            p 14:00
            p.title
              a.dottedAnchor(href='./boysbeanarchy.html#if') if....
            p.time (112min)
        tr
          td
            p 16:15
            p.title
              a.dottedAnchor(href='./tomoshibi.html#happyisland') HAPPY ISLAND
            p.time (77min)
          td
            p 16:15
            p.title
              a.dottedAnchor(href='./boysbeanarchy.html#thunder') Crazy Thunder Road
            p.time (98min)
        tr
          td
          td.lightgreen
            p 17:50
            p.title
              a.dottedAnchor(href='./tomoshibi.html#tomoshibi') TOMOSHIBI / Talk show
            p.time (81+60min)
          td
            p 18:15
            p.title
              a.dottedAnchor(href='./boysbeanarchy.html#akira') AKIRA
            p.time (124min)
        tr
          td.lightred(rowspan='2')
            p 19:00
            p.title
              a.dottedAnchor(href='./furyroad.html#furyroad') Furious outdoor screening of "Mad Max fury road"
            p.time (120min)
            p.time (Rates:Free)
          td
            p 20:25
            p.title
              a.dottedAnchor(href='./alltimebest.html#caramba') Dolce e selvaggio
            p.time (93min)
          td
            p 20:35
            p.title
              a.dottedAnchor(href='./boysbeanarchy.html#legend') The Legend Of Billy Jean
            p.time (95min)
        tr
          td.lightblue
            p 23:00
            p.title
              a.dottedAnchor(href='./tobe.html') Tobe Hooper allnight
            p.time (End: 6：30)
          td
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/20(Tue)
          td 9/21(Wed)
          td.datered 9/22(Thu)
      tbody
        tr
          td
            p 11:00
            p.title
              a.dottedAnchor(href='./avantgradeero.html#rouges') Les lèvres rouges
            p.time (100min)
          td
            p 11:00
            p.title
              a.dottedAnchor(href='./cooljapan.html#killer') The Killer Elite
            p.time (116min)
          td
            p 10:30
            p.title
              a.dottedAnchor(href='./cursed.html#macbeth') The Tragedy of Macbeth
            p.time (140min)
        tr
          td
            p 12:55
            p.title
              a.dottedAnchor(href='./avantgradeero.html#vampyros') Vampyros Lesbos
            p.time (89min)
          td
            p 13:10
            p.title
              a.dottedAnchor(href='./cooljapan.html#challenge') The Challenge
            p.time (108min)
          td
            p 13:05
            p.title
              a.dottedAnchor(href='./cursed.html#ninth') The Ninth Configuration
            p.time (118min)
        tr
          td
            p 14:40
            p.title
              a.dottedAnchor(href='./avantgradeero.html#eden') L'éden et après
            p.time (98min)
          td
            p 15:10
            p.title
              a.dottedAnchor(href='./war.html#1941') 1941
            p.time (118min)
          td
            p 15:20
            p.title
              a.dottedAnchor(href='./cursed.html#exorcist') THE EXORCIST Ⅲ
            p.time (110min)
        tr
          td
            p 16:35
            p.title
              a.dottedAnchor(href='./avantgradeero.html#lip') Lèvres de sang
            p.time (87min)
          td
            p 17:20
            p.title
              a.dottedAnchor(href='./war.html#yamato') BATTLESHIP YAMATO
            p.time (104min)
          td.lightgreen(rowspan='2')
            p 17:30
            p.title
              a.dottedAnchor(href='./cursed.html#talk') The Vivisection of Cinema Talk show
            p.time (90min)
        tr
          td
            p 18:20
            p.title
              a.dottedAnchor(href='./avantgradeero.html#eyes') Eyes Wide Shut
            p.time (159min)
          td
            p 19:20
            p.title
              a.dottedAnchor(href='./avantgradeero.html#corrida') L'empire des sens
            p.time (109min)
        tr
          td
            p 21:15
            p.title
              a.dottedAnchor(href='./avantgradeero.html#water') Water Power:Enema Cut Version
            p.time (66min)
          td.lightblue(rowspan='2')
            p 22:00
            p.title
              a.dottedAnchor(href='./countryhorror.html') Countryside horror complete films Vol.2
            p.time (End: 6：30)
          td
            p 19:20
            p.title
              a.dottedAnchor(href='./cursed.html#mabuse') Das Testament des Dr. Mabuse
            p.time (112min)
        tr
          td
          td
            p 21:40
            p.title
              a.dottedAnchor(href='./cursed.html#will') Triumph des Willens
            p.time (111min)
    table.pure-table.pure-table-bordered
      thead
        tr
          td 9/23(Fri)
          td.dateblue 9/24(Sat)
          td.datered 9/25(Sun)
      tbody
        tr
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./riot.html#yamaya') YAMA - ATTACK TO ATTACK-
            p.time (110min)
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./war.html#ryan') Saving Private Ryan
            p.time (170min)
          td
            p 10:00
            p.title
              a.dottedAnchor(href='./war.html#apocalypse') Apocalypse Now
            p.time (147min)
        tr
          td
            p 12:10
            p.title
              a.dottedAnchor(href='./riot.html#fight') Fight Club
            p.time (139min)
          td
            p 13:05
            p.title
              a.dottedAnchor(href='./war.html#628') come and see
            p.time (143min)
          td.lightgreen(rowspan='3')
            p 12:45
            p.title
              a.dottedAnchor(href='./newhope.html') Expectations of the new directors
            p.title
              a.dottedAnchor(href='./newhope.html#requiem') Requiem for the crazy world
            p.time (88min)
            p.title
              a.dottedAnchor(href='./newhope.html#sainara') Goodbye, BAD SAMURAI
            p.time (61min)
            p.title
              a.dottedAnchor(href='./newhope.html#hana') Hana and Arashi
            p.time (76min)
            p.title Award ceremony
        tr
          td
            p 14:50
            p.title
              a.dottedAnchor(href='./riot.html#charisma') CHARISMA
            p.time (104min)
          td
            p 15:45
            p.title
              a.dottedAnchor(href='./war.html#steiner') Steiner: Das Eiserne Kreuz
            p.time (133min)
        tr
          td
            p 16:50
            p.title
              a.dottedAnchor(href='./riot.html#theylive') They Live
            p.time (93min)
          td.lightgreen(rowspan='2')
            p 18:20
            p.title
              a.dottedAnchor(href='./hardcorehenry.html') HARDCORE HENRY / Talk show
            p.time (97+60min)
        tr
          td
            p 18:40
            p.title
              a.dottedAnchor(href='./cursed.html#salo') Salò o le 120 giornate di Sodoma
            p.time (116min)
          td.lightorange(rowspan='3')
            p 18:30
            p.title
              a.dottedAnchor(href='./bigslideshow.html#what') Big slide show What is it?
            p.time (150min)
        tr
          td
            p 21:00
            p.title
              a.dottedAnchor(href='./rhs.html#rhs') THE ROCKY HORROR PICTURE SHOW
            p.time (100min)
          td.lightorange(rowspan='2')
            p 21:30
            p.title
              a.dottedAnchor(href='./bigslideshow.html#fine') Big slide show It is Fine! EVERYTHING IS FINE.
            p.time (150min)
    .pure-u-1-1
      .supporter.pure-u-sm-3-4
        a(href='//www.eiganokai.com/about/supporter.html', target='_blank')
          p
            span かなざわ映画の会
          p
            span サポーター2016募集中！
    .pure-u-1-1
      .bookfair.pure-u-sm-3-4
        h2
          | KANAZAWA FILM FEST 2016古本市
          .by by オヨヨ書林
        .pure-u-1-1.pure-u-sm-1-4
          img(src='./images/books.png')
        .pure-u-1-1.pure-u-sm-5-8
          p(style='font-size: 12px;') 映画祭会場前にオヨヨ書林の古本販売コーナーが登場。映画パンフレット100円均一コーナーをはじめ、映画・音楽・芸能一般・サブカルチャー・雑誌パンフレットなどを中心に販売いたします！！掘り出し物もありますよ。
          .date
            p 日時: 9.17(土)-25(日) 10:00-19:00
            p 場所: 金沢都ホテル セミナーホール前
        .pure-u-1-1.pure-u-sm-1-8(style='background-color: #fff;')
          img(src='./images/oyoyo.png')
      .bookfair.pure-u-sm-3-4
        a.dottedAnchor(href='//cafemonochrome.com/', target='_blank')
          img(src='./images/cafe.jpeg')
