extends layout/index

block title
  title チケット - カナザワ映画祭2016｜かなざわ映画の会

block body
  #ticketPage
    h1 チケット
    .pure-u-1-1
      .content
        .pure-u-sm-3-4(style='margin: 0 auto;')
          table.pure-table.pure-table-bordered
            thead
              tr
                td チケット種類
                td 前売
                td 当日
            tbody
              tr
                td 1回鑑賞券
                td 1,400円
                td 1,600円
              tr
                td 内田裕也×モブ・ノリオ トーク券
                td 2,000円
                td 2,500円
              tr
                td 各種オールナイト券
                td 3,000円
                td 3,500円
              tr
                td ビッグ・スライドショウ(9/24)
                td 3,800円
                td 4,500円
              tr
                td ビッグ・スライドショウ(9/25)
                td 3,800円
                td 4,500円
              tr
                td HARDCORE HENRY ジャパン・プレミアム上映
                td 2,000円
                td 2,500円
              tr
                td 「期待の新人監督」通し鑑賞券
                td 2,500円
                td 3,000円
        .links
          ul.notice
            li ●１回鑑賞券は各作品、各トークごとに販売します。
            li ●チケットご購入後の払い戻し、変更はできません。
    h1 取り扱い
    .pure-u-1-1
      .content
        .links
          p(style='font-style: bold; color: #f00;') ※ご購入後の前売りチケットの払い戻しや変更はできません。内容をよくお確かめのうえ、ご購入ください。
          p
            span ■
            a.dottedAnchor(href='', target='_blank') WEBチケット注文フォーム
          .dmm
            a.dottedAnchor(href='', target='_blank')
              img.max(src='./images/dmm.jpg')
        .links
          p
            span ■
            a.dottedAnchor(href='http://www.cine-monde.com/', target='_blank') シネモンド
