extends layout/index

block title
  title Ticket - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Ticket - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #ticketPage
    h1 Ticket
    .pure-u-1-1
      .content
        .pure-u-sm-3-4(style='margin: 0 auto;')
          table.pure-table.pure-table-bordered
            thead
              tr
                td Movie tickets
                td Advance
                td Today
            tbody
              tr
                td Once ticket
                td 1,400yen
                td 1,600yen
              tr
                td [Talk Event] Yuya Uchida × Mob Norio talk show
                td 2,000yen
                td 2,500yen
              tr
                td Each Midnight theater ticket
                td 3,000円
                td 3,500円
              tr
                td Big slide show(9/24)
                td 3,800yen
                td 4,500yen
              tr
                td Big slide show(9/25)
                td 3,800yen
                td 4,500yen
              tr
                td "HARDCORE HENRY" Japan premiere
                td 2,000yen
                td 2,500yen
              tr
                td "Expectations of the new directors 2016" One ticket for All films
                td 2,500yen
                td 3,000yen
        .links
          ul.notice
            li ● Tickets purchasing for each film, each talk event.
            li ● You can not change, refund after the tickets purchasing.
    .pure-u-1-1(style='margin-bottom: 1em;')
      .supporter.pure-u-sm-3-4
        a(href='//www.eiganokai.com/about/supporter.html', target='_blank')
          p
            span かなざわ映画の会
          p
            span サポーター2016募集中！
    h1 Tickets
    .pure-u-1-1
      .content
        .links
          p(style='font-style: bold; color: #f00;') You can not change, refund after the tickets purchasing.
          p(style='margin-bottom: 0;')
            span ■
            a.dottedAnchor(href='https://event.dmm.com/detail?event_id=73777', target='_blank') WEB Ticket
          .dmm
            a.dottedAnchor(href='https://event.dmm.com/detail?event_id=73777', target='_blank')
              img.max(src='./images/dmm.jpg')
        .links
          p
            span ■
            a.dottedAnchor(href='http://www.oyoyoshorin.jp/%E4%BC%9A%E5%A0%B4/%E3%82%AA%E3%83%A8%E3%83%A8%E6%9B%B8%E6%9E%97%E3%80%80%E3%81%9B%E3%81%9B%E3%82%89%E3%81%8E%E9%80%9A%E3%82%8A%E5%BA%97/', target='_blank') Oyoyo shorin seseragi street
