extends layout/index

block title
  title Tobe Hooper allnight - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='Tobe Hooper allnight - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 Tobe Hooper allnight
    .aori
      p 9/18 (Sun) 23:00-
      p Roaring screening that the four films of Hooper filled with madness in a row!
      p When dawned, are you keeping a sane?
    img.max(src='./images/tobe2.jpeg')
    .film#texas
      h2
        .ja The Texas Chainsaw Massacre 2
      .capture
        img(src='./images/texas.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1986 / USA / 101min
        p Director, Screenplay and Music: Tobe Hooper
        p Screenplay: L · M · Kit Carson
        p Starring: Dennis Hopper, Caroline Williams, Jim Shidou, Bill Mozurii
      .desc
        p After 13 years from the previous film(The Texas Chainsaw Massacre). The family is still active in Texas! Must see that Mad sheriff vs mad family of mad confrontation in the mad roar screening! !
        p Screening scheduled to start: 23:00
    .film#spontaneous
      h2
        .ja Spontaneous Combustion
      .capture
        img(src='./images/spontaneous.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1990 / USA / 97min
        p Director, Screenplay: Tobe Hooper
        p Starring: Brad Dourif, Cynthia Bain
      .desc
        p Brad Dourif is under the influence of the radioactivity of the H-bomb test, and he have skill of the pyrokinesis. His sadness and anger will explode inthe roar screening!!
        p Screening scheduled to start: 0:50
    .film#lifeforce
      h2
        .ja Lifeforce
      .capture
        img(src='./images/lifeforce.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1985 / UK / 102min
        p Director: Tobe Hooper
        p Screenplay: Dan O'Bannon
        p Starring: Steve Railsback, Mathilda May, Peter Firth
      .desc
        p It came that naked beauty woman with Halley's Comet. It was a space vampire that suck the human's energy. London will be destroyed by in the zombies who is sucked by vampires. A sight to see the performance that naked Mathilda May do at the risk of her life in full time. Also the theme song of the heroic Henry Mancini is much for the roar screening.
        p Screening scheduled to start: 2:50
    .film#mangler
      h2
        .ja The Mangler
      .capture
        img(src='./images/mangler.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1995 / USA / 107min
        p Director, Screenplay: Tobe Hooper
        p Bsed on the Novel: Stephen King
        p Starring: Robert Englund, Ted Levine
      .desc
        p The factory girls are exploitation by black washing factory. One day a vintage press sucked blood of girls and it have a devil's soul. You must feel this roar screening that tremendous human body destruction by the devil's press and screaming!!
        p Screening scheduled to start: 5:00
