extends layout/index

block title
  title 爆音トビー・フーパー - カナザワ映画祭2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='爆音トビー・フーパー - カナザワ映画祭2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='カナザワ映画祭2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1
      img(
        style='width: 80px; position: relative; top: 4px;'
        src='./images/bakuon.jpeg'
      )
      | トビー・フーパー オールナイト
    .aori
      p 9/18(日) 23:00〜
      p 狂気に満ちたフーパーの4作品を連続で爆音上映！
      p 夜が明けた時、あなたは正気を保っているか？
    img.max(src='./images/tobe2.jpeg')
    .film#spontaneous
      h2
        div
          .ja スポンティニアス･コンバッション～人体自然発火～
        div
          .en(style='margin-left: 0;') Spontaneous Combustion
      .capture
        img(src='./images/spontaneous.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1990年/アメリカ/97min
        p 監督･脚本：トビー･フーパー
        p 出演：ブラッド･ドゥーリフ、シンシア･ベイン
      .desc
        p 水爆実験の放射能の影響で、人体を発火させる超能力を持ってしまったブラッド・ドゥーリフの悲しみと怒りを爆音上映でブーストする！！
    .film#mangler
      h2
        .ja マングラー
        .en The Mangler
      .capture
        img(src='./images/mangler.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1995年/アメリカ/107min
        p 監督･脚本:トビー･フーパー
        p 原作:スティーヴン･キング
        p 出演:ロバート･イングランド、テッド･レヴィン
      .desc
        p 超絶ブラックな洗濯工場で酷使される女工たちの血を吸って年代物のプレス機が悪魔の魂を持ってしまった。プレス機に巻き込まれる人間の凄まじい人体破壊描写と絶叫を爆音上映で浴びろ！！
    .film#lifeforce
      h2
        .ja スペースバンパイア
        .en Lifeforce
      .capture
        img(src='./images/lifeforce.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1985年/イギリス/102min
        p 監督：トビー･フーパー
        p 脚本：ダン･オバノン
        p 出演：スティーヴ･レイルズバック、マチルダ･メイ、ピーター･ファース
      .desc
        p ハレー彗星と共にやって来た全裸の美女。それは人間の精気を吸い取るスペースバンパイアだった。精気を吸われゾンビ化した群衆でロンドンは壊滅する。全編を全裸で登場するマチルダ・メイの体を張った演技は見もの。勇壮なヘンリー・マンシーニのテーマ曲も大変に爆音上映向き。
    .film#texas
      h2
        .ja 悪魔のいけにえ2
        .en The Texas Chainsaw Massacre 2
      .capture
        img(src='./images/texas.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1986年/アメリカ/101min
        p 監督･脚本･音楽：トビー･フーパー
        p 脚本：L･M･キット･カーソン
        p 出演：デニス･ホッパー、キャロライン･ウィリアムズ、ジム･シードウ、ビル･モーズリイ
      .desc
        p 前作から13年後。あの一家は未だにテキサスで活動していた！　気狂い保安官vs気狂い一家の気狂い対決は気狂い爆音上映でこそ必見！！
