extends layout/index

block title
  title ジャパン・プレミアム上映 燈火 - カナザワ映画祭2016｜かなざわ映画の会

block body
  #feature
    h1 「期待の新人監督2013」清川隆監督最新作『燈火』ジャパン・プレミアム上映
    img.max(src='./images/tomoshibi3.png')
    .film#tomoshibi
      h2
        .ja 燈火 TOMOSHIBI
      .capture
        img(src='./images/tomoshibi.png')
      .info
        p 2016年/日本/81min
        p 監督･脚本：清川隆
        p 出演：高橋花生
      .desc
        p 亡き恋人の実家は異常な家だった。撮影中は様々な怪奇トラブルが多発し、完成まで困難を極めた和ゴシックな屋敷ホラー作品。撮影で使われた戦前建築家屋の内部シーンの暗闇には「本物の霊」が写り込んでいるため、目を凝らして探してほしい。
    .film#happyisland
      h2
        .ja ハッピーアイランド
      .capture
        img(src='./images/happyisland.png')
      .info
        p 2013年/日本/77min
        p 監督･脚本:清川隆
        p 出演:今西由紀夫、亀井史興、川島拓
      .desc
        p 日本の辺境に潜入した、雑誌の取材班は思いもよらない恐怖に遭遇する。本職が医師である清川監督ならではの医療器具を使った拷問場面は日本の商業映画では不可能な容赦なさ。カナザワ映画祭2013「期待の新人監督賞」作品を待望のアンコール上映！！
    .film#talk
      h2
        .ja ゲスト
      .pure-u-1-2
        .bio
          p 清川 隆
          p 1981年東京生まれ。本職は医師、そして格闘家。2011年に三足目の草鞋となる映画監督を志す。デビュー作の『ハッピーアイランド』でカナザワ映画祭2013「期待の新人監督賞」を受賞。『燈火 TOMOSHIBI』は３年ぶりの待望の新作。
      .pure-u-1-2
        .bio
          p 檜垣紀六
          p 広告図案師。洋画作品の宣伝デザインを数多く担当。『タワーリング・インフェルノ』、キューブリック作品、『ルパン三世　カリオストロの城』『サスペリア』『サンゲリア』『バーニング』『ランボー』など多数。伝説のデザイナー。
