extends layout/index

block title
  title "Expectations of New Director Award 2013" Takashi Kiyokawa's latest film "TOMOSHIBI" Japan Premiere. - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='"Expectations of New Director Award 2013" Takashi Kiyokawa\'s latest film "TOMOSHIBI" Japan Premiere. - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 "Expectations of New Director Award 2013" Takashi Kiyokawa's latest film "TOMOSHIBI" Japan Premiere.
    .aori
      p 9/18(Sun) 17:50
    img.max(src='./images/tomoshibi3.jpeg')
    .film#tomoshibi
      h2
        .ja TOMOSHIBI
      .capture
        img(src='./images/tomoshibi.jpeg')
      .info
        p 2016 / Japan / 81min
        p Director, Screenplay: Takashi Kiyokawa
        p Starring: Takahashi Kasei
      .desc
        p Home of deceased lover is unusual house. While shooting frequently a variety of strange problems, extremely difficult to complete. Japanese gothic mansion horror film. "Real gohst" in the darkness of the interior scene of the pre-war building a house that was used in the shooting. To want you to look closely, to seek.
    .film#happyisland
      h2
        .ja HAPPY ISLAND
      .capture
        img(src='./images/happyisland.jpeg')
      .info
        p 2013 / Japan / 77min
        p Director, Screenplay: Takashi Kiyokawa
        p Starring: Yukio Imanishi, Kamei Fumioki, Taku Kawashima
      .desc
        p The crew of the magazine into the outpost of Japan, they encounter unexpected fear. Torture scene with medical devices is very unique, because director Kiyokawa's principal occupation is a doctor. The relentless torture scene is not possible for commercial films of Japan. This long-awaited film that Kanazawa Film Festival 2013 "Expectations of New Director Award" encore screening!!
    .film#talk
      h2
        .ja [Talk event] Kiyokawa Takashi × Kiroku Higaki
      .pure-u-1-2
        .bio
          p(style='font-size: 16px;') Takashi Kiyokawa
          p He was born 1981 in Tokyo. He wears two hats; as a professional doctor and a martial artist. And he is aspiring film director that thrid hat in 2011. His debut film's "Happy Island" was awarded Kanazawa Film Festival 2013 "Expectations of New Director Award". New film "TOMOSHIBI" is the long-awaited the first time in three years.
      .pure-u-1-2
        .bio
          p(style='font-size: 16px;') Kiroku Higaki
          p Advertising designer. He designed many advertising design of Movie work. A large number, such as "The Towering Inferno", Kubrick films, "Lupin III The Castle of Cagliostro", "Suspiria", "Zombi 2", "Burning," "Rambo". Designer of legend.
