extends layout/index

block title
  title I love WAR (movie)! - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='I love WAR (movie)! - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 I love WAR (movie)!
    .aori
      p War is attractive.
      p Should there are beauty and charm.
      p Otherwise human race is not supposed to have so much always repeating the war.
    .film#yamato
      h2
        .ja BATTLESHIP YAMATO
      .capture
        img(src='./images/yamato.jpeg')
        .credits
          p &copy;Kokusaihoei
      .info
        .nfc
          img(src='./images/nfc.jpeg')
        p 1953 / Japan / 104min
        p Director: Yutaka Abe
        p Screenplay: Toshio Yasumi
        p Original author: Mitsuru Yoshida
        p Music: Yasushi Akutagawa
        p Photo: Minoru Yokoyama
        p Starring: Minoru Takada, Toranosuke Ogawa, Takamaru Sasaki, Susumu Fujita, Bontaro Miake
      .desc
        p The world's biggest massive battleship YAMATO was made by Empire of Japanese Navy. This is the first movie that describe the last of Yamato after only eight years from it sunk in 1945. This film was made yet shortly after the period from the end of war. Staffs and casts have war memories. So air feeling from this film is the real of realism. Even if modern war movie invested a lot of budget, it can not reproduce.
        p Archived by the National Film Center of Tokyo
    .film#ryan
      h2
        .ja Saving Private Ryan
      .capture
        img(src='./images/ryan.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1998 / USA / 170min
        p Director: Steven Spielberg
        p Music: John Williams
        p Photography: Janusz Kamiński
        p Starring: Tom Hanks, Tom Sizemore, Edward Burns, Adam Goldberg, Vin Diesel, Paul Giamatti, Matt Damon
      .desc
        p In Western Front of World War II, the platoon that has received the instruction of ""save private Ryan"".  They have been involved in brutal battle,  are killed one after another . This film was successful imaging by the fierce battle depiction that such as to deny the human values.  
        p And it has changed the history of the war movie. A lot of highlight such as ghostliness landing scene of Omaha Beach, fighting of the Tiger tank in the city, 
        p This screening is a great opportunity.
    .film#apocalypse
      h2
        .ja Apocalypse Now
      .capture
        img(src='./images/apocalypse.jpeg')
        .credits
          p &copy;1979 Omni Zoetrope. All Rights Reserved.
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1979 / USA / 147min
        p Director, Screenplay: Francis · F · Coppola
        p Starring: Marlon Brando, Martin Sheen, Dennis Hopper, Robert Duvall
      .desc
        p In the Vietnam war, colonel Kurtz deviated the command of the US military, and built his kingdom in the jungle. captain Willard who was ordered to kill Kurtz  starts a hell of a journey . Doors's "The End" is flowing in the background that the Willard to drunkenness and napalm bombing. Wagner's "Ride of the Valkyries" in the helicopter raid scene, music and the explosion are unusual. Powerful roar movie.
    .film#1941
      h2
        .ja 1941
      .capture
        img(src='./images/1941.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1979 / USA / 118min
        p Director: Steven Spielberg
        p Starring: Dan Aykroyd, Ned Beatty, John Belushi, Toshiro Mifune, Christopher Lee, Treat Williams
      .desc
        p This film is on the stage of California from the Pearl Harbor attack by Empire of Japanese Navy after 6 days. Why this film to be continuous spectacle of deviant destruction that  describe the slapstick of residents who panicked? Because the young Spielberg's drastic ability was possible . Let's enjoy the miracle movie in the roar screenings. Also we must watch co-starring scene of Toshiro Mifune and Christopher Lee to ride the Japanese Navy submarine.
    .film#628
      h2
        .ja come and see
        .en Idi i smotri
      .capture
        img(src='./images/628.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1985 / USSR / 143min
        p Director, Screenplay: Elem Klimov
        p Original author, screenplay: Areshi-Adamovichi
        p Starring: Aryosha-Kravchenko, Olga Mironowa
      .desc
        p Russia, which has been invaded by Nazi Germany on the stage, through the eyes of a boy of partisan, this film intensely depicts the atrocity by the Nazis. Sound effects and dissonance to scrabble the nerve are amplified by the roar screenings. In this film that depicts the ruthless of "German vs Soviet" from the Russian side, the people who actually have been burned of their  houses at that time appeared as an extra.
    .film#steiner
      h2
        .ja Steiner: Das Eiserne Kreuz
      .capture
        img(src='./images/steiner.jpeg')
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1975 / West Germany, UK / 133min
        p Director: Sam Peckinpah
        p Starring: James Coburn, Maximilian Schell, Senta Berger, David Warner
      .desc
        p Death toll 25 million or more people, Second World War which is said to be in human history the most cruel and ghastly battle. The stage is the war of the end to defeat German has been confirmed in the Eastern Front "German vs Soviet". Usually, German is only depicted as a villain,  but the master Peckinpah described that story of the German side with intense violence depiction. It is suitable for roaring screening. We want to emphasize the atmosphere, dare screen it in German dubbed version.
