extends layout/index

block title
  title YUYA IS BACK - KANAZAWA FILM FEST 2016｜かなざわ映画の会

block ogps
  meta(property='og:title', content='YUYA IS BACK - KANAZAWA FILM FEST 2016｜かなざわ映画の会')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2016/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2016.png')
  meta(property='og:description', content='KANAZAWA FILM FEST 2016')
  meta(property='og:locale', content='ja_JP')

block body
  #feature
    h1 YUYA IS BACK
    .film#82
      h2
        .ja Super Gun Lady: Police Branch 82
      .capture
        img(src='./images/82.jpeg')
        .credits
          p &copy;1979 "Super Gun Lady: Police Branch 82", Nikkatsu
      .info
        .nfc
          img(src='./images/nfc.jpeg')
        p 1979/Japan/96min
        p Director, writer: Chusei Sone
        p Writer: Haruhiko Arai, Jun Takada
        p Original comic: Toru Shinohara
        p Cast: Emi Yokoyama, Kaoru Janbo, Kei Sato, Yuya Uchida, Shin Kishida, Rikiya Yasuoka, Masato Furuoya
      .desc
        p A film based on a comic where a pair of female cops, members of the secret division Branch 82, fight against crimes. The highlight of the film is the violent acting of Yuya Uchida and Masato Furuoya when they rob a bank. This is a must see and you will want to imitate the scene where Yuya gives a speech before hostages.
        p Archived by the National Film Center of Tokyo
    .film#pool
      h2
        .ja A Pool without Water
      .capture
        img(src='./images/pool.jpeg')
        .credits
          p &copy;1982「水のないプール」若松プロダクション
      .info
        p 1982/Japan/103min/Vista
        p Director: Koji Wakamatsu
        p Writer: Eiichi Uchida
        p Music: Katsuo Ono
        p Cast: Yuya Uchida, Reiko Nakamura, Mie, Kenji Sawada, Tamori, Fujio Akatsuka
      .desc
        p A humble subway ticket examiner one day hits upon the idea of knocking a girl out with chloroform and raping her. Taking a hint from an actual case that happened in Sendai, cinematized with a superb cast. The scene where Yuya completes his crime in the morning is refreshing. "I'm a guard of this town......This is politics!"
    .film#comic
      h2
        .ja Comic Magazine
      .capture
        img(src='./images/comic.jpeg')
        .credits
          p &copy;1986 “Comic Magazine” Production committee
      .info
        p 1986/Japan/124min
        p Director: Yojiro Takita
        p Writer: Yuya Uchida, Isao Takagi
        p Cast: Yuya Uchida, Beat Takeshi, Kazuyoshi Miura, Hiromi Go, Onyanko Club
      .desc
        p A TV reporter named Kinameri covers serious cases of that time such as the Kazuyoshi 
        p Miura Case, Crash of Japan Airlines Flight 123, Toyota Trading Company Case. It won the award for best actor at Kinema Junpo and other movie awards of the year. It won high praise at the Cannes Film Festival and was released throughout the world. "I Can't Speak Fucking Japanese!"
    .film#prey
      h2
        .ja The Prey
      .capture
        img(src='./images/prey.jpeg')
        .credits
          p &copy;1979 “The Prey”, Toei
      .info
        .bakuon
          img(src='./images/bakuon.jpeg')
        p 1979/Japan/80min
        p Director: Koji Wakamatsu
        p Music: Matumbi, Peter Tosh
        p Cast: Yuya Uchida, Jun Tatara, Yoko Kurita
      .desc
        p This is not acting, but Rock'n Roller Yuya Uchida's first solo album on the screen. This is the impact of "Harder They Come" meets "Two or Three Things I Know About Her" and the whole world doesn't know about it. Swaying along with the bass line of English Reggae star Matumbi, feel the pleasure of watching "The Prey" with no subtitles. SMOKE "EJIKI", real LOVE &amp; real PEACE. (Text by Mob Norio)
    .film#talk
      h2
        .ja [Talk Event] Yuya Uchida × Mob Norio talk show /YUYA WORKS
      p(style='font-size: 22px;') 9/17 (Sat) 14:50-
      .pure-u-1-2
        img.max(src='./images/y1.jpeg')
      .pure-u-1-2
        img.max(src='./images/y2.jpeg')
      .pure-u-1-2
        .bio
          p Yuya Uchida
          p Forever rock'n roller. His debut was at Nichigeki Western Carnival in 1959. He has produced numerous bands like Tigers, Flowers, Flower Travellin Band, Creation. The New Years World Rock Festival, which he hosts in year ends has reached its 43rd anniversary this year and now takes place in not only Japan but USA, UK, China region, Korea and Russia. He has also organized it in Tohoku since 2012. The movie "Comic Magazine" which he planned, wrote and stared got a great reputation from all over the world and was screened at Cannes Film Festival and MoMA as well. He won the award for best actor at Kinema Junpo, the special award at Blue Ribbon in the year. In 2013, he collaborated with Rino Sashihara from HKT48 and released the song "Shekina Baby". He has been planning more music, movies and books at his age of 69 (Rock)+7.
      .pure-u-1-2
        .bio
          p Mob Norio
          p Born in Nara in 1970. The author of  "Introduction to Nursing Care" (Akutagawa Prize winner) and "JOHNNY TOO BAD Yuya Uchida" (an insane split book that weaves between a DJ novel based on Yuya's critical biography and Yuya's collection of talks in the magazine "Heibon Punch"). "If I had not seen this "The Prey", I would have been a criminal like Yuya in the movie."
    .film#works
      h2
        .ja YUYA WORKS
        .bakuon
          img(src='./images/bakuon.jpeg')
      .capture
        img(src='./images/yuyaworks.jpeg')
        .credits
          p &copy;YUYA UCHIDA OFFICE
      .info
        p 2016/Japan/70min
      .desc
        p The trace of images in which Yuya Uchida "swims", "runs" through with his bicycle for 30 years. "Yuya Triathlon". This is the exclusive premier screening for the talk event.
